<template lang="pug">
  .container
    home-hero
    div(class='columns is-multiline')
      div.column.is-one-third(v-for='collection in collections')
        collection-widget(:collection="collection")
</template>

<script>
import CollectionWidget from '@/components/CollectionWidget'
import HomeHero from '@/components/HomeHero'
import { mapMutations } from 'vuex'

export default {
  name: 'Home',
  data () {
    return {

    }
  },
  computed: {
    collections () {
      return this.$store.state.collections
    }
  },
  methods: {
    ...mapMutations([
      'addCollection'
    ])
  },
  components: {
    'collection-widget': CollectionWidget,
    'home-hero': HomeHero
  },
  mounted: function () {
    //  this.$store.commit('addCollection', {text: 'heyyy dummy text'})
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
