<template lang="pug">
  div
    .container
      .columns
        .column.is-half-desktop.is-offset-3-desktop.content
          h1.has-text-centered= "Kaip kabinti drobes negręžiant sienų"
          p Siūlome kabinti drobes (ir ne tik) ant specialių limpančių prie sienos "Command" laikiklių. Kurie jūsų namuose pakeis plaktuką ir vinis. Šie laikikliai lengvai priklijuojami, neatlimpa savaime ir esant reikalui nusiklijuoja nepažeidžiant tinko.
          p 8 lipdukai - 4-jų taškų tvirtinimui. Išlaiko iki 5,4 kg svorį. Skirta klijuoti porėmį prie plokštumos be troselio.
          img(src="/static/images/drobiu_laikikliai_command_opti.jpg")
          p
            strong Kaina: € 5.80
          p Norėdami užsisakyti laikiklius, informuokite mus apie tai iš karto po užsakymo apmokėjimo.
          .video-wrapper
            iframe(width='560', height='315', src='https://www.youtube.com/embed/HJ9RZt0_qMk', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
</template>

<script>
  export default {
    name: 'HangingInstructionsPage',
    data () {
      return {}
    },
    metaInfo () {
      return {
        title: 'Kaip kabinti drobes ir paveikslus negręžiant sienų - Command laikikliai',
        meta: [
          { name: 'description', content: 'Puikus būdas negadinant sienų pakabinti drobes - su priklijuojamais laikikliais. Jeigu būstą nuomojatės - tai jums gelbėjimosi ratas!' },
          { name: 'og:description', content: 'Puikus būdas negadinant sienų pakabinti drobes - su priklijuojamais laikikliais. Jeigu būstą nuomojatės - tai jums gelbėjimosi ratas!' },
          { name: 'og:url', content: 'https://www.' + process.env.BASE_DOMAIN + this.$route.fullPath },
          { name: 'og:type', content: 'article' },
          { name: 'og:image', content: 'https://www.' + process.env.BASE_DOMAIN + '/static/hero/hero2_768_opt.jpg' }
        ]
      }
    },
    beforeDestroy () {
      this.$store.commit('resetMetaInfo')
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../../src/assets/sass/tkg_variables"
  .video-wrapper
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
</style>
