<template lang="pug">
  div
    .container
      .columns
        .column.is-3.is-offset-2.is-hidden-mobile
          img.rounded(src="https://static.tikraigrazu.lt/picture/1000/mockups/20.jpg")
          img.rounded(src="https://static.tikraigrazu.lt/picture/978/mockups/3.jpg")
        .column.is-5
          .content
            h1.main-title= "Ar norėtum laimėti drobę?"
            p.strong
              | Registruokis konkursui iki {{last_date}} ir
              br
              = " NEMOKAMAI "
              span.attention= "pasipuošk savo namus ar biurą!"
            p.smaller.italic= "Galėsi rinktis vieną drobę iš bet kurios mūsų kolekcijos!"
              //
                br
                a(href="https://www.tikraigrazu.lt/kolekcija/vaido-geguzio-cucomaio-darbai", target="_blank") Lietuva ir Europa iš viršaus (Vaidas Gegužis)
                = ", "
                a(href="https://www.tikraigrazu.lt/kolekcija/nepiestas-nupiestas-vilnius", target="_blank") Nupieštas Vilnius
                = ", "
                a(href="https://www.tikraigrazu.lt/kolekcija/gyvunai", target="_blank") Gyvūnai
                = ", "
                a(href="https://www.tikraigrazu.lt/kolekcija/kalnai", target="_blank") Kalnai
                = ", "
                a(href="https://www.tikraigrazu.lt/kolekcija/saulelydziai", target="_blank") Saulėlydžiai
                = ", ... "
                a(href="https://www.tikraigrazu.lt", target="_blank") ir daugybės kitų!
            optin-register-form
      .columns.quote-container
        .column.is-6.content.is-offset-2
          p.quote
            span.icon.icon-left
              i.fa.fa-quote-left
            | Mūsų erdvės namuose, biuruose, kavinėse, gatvėse galėtų būti stipriai gražesnės, bet žmonės per didelį skubėjimą retai kada apie tai susimąsto, arba tiesiog nežino kur gauti gražių ir nebrangių meno kūrinių.
            br
            br
            | TikraiGražu.lt projektu siekiame išspręsti šias problemas.
            span.icon.icon-right
              i.fa.fa-quote-right
        .column.is-2
          img.rounded(src="/static/about-us/tomas_portrait_one.jpg")
          p.strong.smaller.has-text-centered Tomas Vyšniauskas
          p.smaller.has-text-centered TikraiGražu.lt įkūrėjas
      .content
        h2.has-text-centered= "Kodėl verta rinktis TikraiGražu.lt?"
      canvas-product-usp
      .columns.second-form-container
        .column.is-6-desktop.is-offset-3-desktop.content
          h2.has-text-centered(style="margin-top: 1rem")= "Registruokis ir laimėk drobę!"
          optin-register-form
      .columns.is-multiline.bottom-pics-container
        .column.is-3
          a(href="https://www.tikraigrazu.lt/foto/761/nuotrauka-761", target="_blank")
            img(src="https://static.tikraigrazu.lt/picture/761/mockups/3.jpg")
        .column.is-3
          a(href="https://www.tikraigrazu.lt/foto/1021/nuotrauka-1021", target="_blank")
            img(src="https://static.tikraigrazu.lt/picture/1021/1021_web_768.jpg")
        .column.is-3
          a(href="https://www.tikraigrazu.lt/foto/1017/nuotrauka-1017", target="_blank")
            img(src="https://static.tikraigrazu.lt/picture/1017/mockups/21.jpg")
        .column.is-3
          a(href="https://www.tikraigrazu.lt/foto/721/nuotrauka-721", target="_blank")
            img(src="https://static.tikraigrazu.lt/picture/721/721_web_768.jpg")
        .column.is-3
          a(href="https://www.tikraigrazu.lt/foto/722/nuotrauka-722", target="_blank")
            img(src="https://static.tikraigrazu.lt/picture/722/722_web_768.jpg")
        .column.is-3
          a(href="https://www.tikraigrazu.lt/foto/1012/nuotrauka-1012", target="_blank")
            img(src="https://static.tikraigrazu.lt/picture/1012/mockups/12.jpg")
        .column.is-3
          a(href="https://www.tikraigrazu.lt/foto/784/nuotrauka-784", target="_blank")
            img(src="https://static.tikraigrazu.lt/picture/784/784_web_768.jpg")
        .column.is-3
          a(href="https://www.tikraigrazu.lt/foto/538/nuotrauka-538", target="_blank")
            img(src="https://static.tikraigrazu.lt/picture/538/mockups/6.jpg")
</template>

<style lang="sass">
  img.rounded
    border-radius: 5px
  h1.main-title
    color: #9e2e9c
  span.attention
    color: #9e2e9c
    text-decoration: underline
  p.strong
    font-weight: 600
  .menu-list a
    color: #3273dc
  p.smaller
    font-size: 0.9rem
  p.italic
    font-style: italic
  p.quote
    font-family: "Roboto", sans-serif
    font-style: italic
    color: #777777
    text-align: justify
  .quote-container
    align-items: center
    padding-left: 1rem
    padding-right: 1rem
    .icon
      i
        font-size: 2rem
        font-style: italic
        color: #9e2e9c
      &.icon-left
        i
          margin-right: 1.5rem
      &.icon-right
        vertical-align: bottom
        i
          margin-top: 1rem
          margin-left: 1.5rem
  .usp-container
    margin-top: 1.5rem
    .column
      text-align: center
      .content
        border: 1px solid #a39a31
        padding: 0.25rem
        p
          margin-bottom: 0.25rem
          font-family: "Roboto", sans-serif
    .icon
      margin-top: 1rem
      margin-bottom: 1.5rem
      i
        font-size: 1.8rem
        color: #a39a31
  .bottom-pics-container
    img
      border-radius: 5px

</style>

<script>
  import OptinRegisterForm from './OptinRegisterForm.vue'
  import CanvasProductUsp from './../parts/CanvasProductUsp.vue'

  export default {
    name: 'LaimekDrobePage',
    data () {
      return {
        last_date: 'sausio 31 d.'
      }
    },
    components: {
      'optin-register-form': OptinRegisterForm,
      'canvas-product-usp': CanvasProductUsp
    },
    metaInfo () {
      return {
        title: 'Laimėk drobę!',
        meta: [
          { name: 'description', content: 'Nori nemokamai pasipuošti savo namus ar biurą? Registruokis konkursui iki ' + this.last_date + ', laimėk ir pasikabink bet kurią mūsų drobę!' },
          { name: 'og:description', content: 'Nori nemokamai pasipuošti savo namus ar biurą? Registruokis konkursui iki ' + this.last_date + ', laimėk ir pasikabink bet kurią mūsų drobę!' },
          { name: 'og:url', content: 'https://www.' + process.env.BASE_DOMAIN + this.$route.fullPath },
          { name: 'og:type', content: 'article' },
          { name: 'og:image', content: 'https://www.' + process.env.BASE_DOMAIN + '/static/hero/hero2_768_opt.jpg' }
        ]
      }
    },
    beforeDestroy () {
      this.$store.commit('resetMetaInfo')
    }
  }
</script>
