<template lang="pug">
  div
    .box
      .field
        label.label Įveskite savo vardą:
        .control.has-icons-left
          input.input(type='text', placeholder='Jūsų vardas', v-model="first_name", :class="{'is-success': first_name.length > 2}")
          span.icon.is-small.is-left
            i.fa.fa-user
      .field
        label.label Įveskite savo el. paštą:
        .control.has-icons-left
          input.input(type='email', placeholder='Jūsų el. paštas', v-model="email", :class="{'is-success': email.length > 2 && isEmailValid}")
          span.icon.is-small.is-left
            i.fa.fa-envelope
      .field
        .control
          button.button.is-link.is-medium(@click="submitForm", :class="{'is-loading': is_loading}") Registruotis
          template(v-if="last_response")
            p(v-if="last_response.status == 'ok'", style="vertical-align: middle; color: green; margin-top: 10px") {{ last_response.message }}
            span(v-if="last_response.status == 'error'", style="vertical-align: middle; color: red; margin-left: 10px") {{ last_response.message }}
    p.rules.has-text-centered= "Registruodamiesi Jūs sutinkate su konkurso taisyklėmis. Garantuojame 100% privatumą."
</template>

<style lang="sass">
  p.rules
    font-size: 0.8rem
    color: #a8a8a8
</style>

<script>
  import axios from 'axios'

  export default {
    name: 'OptinRegisterForm',
    data () {
      return {
        first_name: '',
        email: '',
        source: 'landing_page',
        is_loading: false,
        last_response: null
      }
    },
    methods: {
      submitForm () {
        this.is_loading = true
        this.last_response = null
        axios.post(process.env.API_BASE_URL + '/user/email_optin', {
          first_name: this.first_name,
          email: this.email,
          source: this.source
        })
          .then(response => {
            this.is_loading = false
            this.last_response = response.data
            if (response.data.status === 'ok') {
              this.resetForm()
            }
          })
          .catch(e => {
            // this.errors.push(e)
            this.is_loading = false
          })
      },
      resetForm () {
        this.email = ''
        this.first_name = ''
      }
    },
    computed: {
      isEmailValid () {
        let re = /\S+@\S+\.\S+/
        return re.test(this.email)
      }
    }
  }
</script>
