<template lang="pug">
  div
    .container
      .columns
        .column.is-half-desktop.is-offset-3-desktop.content
          h1.has-text-centered= "Klaida!"
          .main-icon-container.has-text-centered
            span.icon.is-large
              i.fa.fa-times
          p.has-text-centered= "Atsiprašome, bet mūsų robotai nesugebėjo apdoroti Jūsų mokėjimo..."
          p.strong.has-text-centered
            | Prašome nedelsiant susisiekti su mumis telefonu
            |
            a(:href='"tel:" + businessPhoneNumber') {{businessPhoneNumber}}
            br
            | arba el. paštu
            |
            a(:href='"mailto:" + businessEmail') {{businessEmail}}
            |.

</template>

<script>
  export default {
    name: 'PaymentErrorPage',
    data () {
      return {}
    },
    computed: {
      businessPhoneNumber () {
        return process.env.BUSINESS_PHONE_NUMBER
      },
      businessEmail () {
        return process.env.BUSINESS_EMAIL
      }
    },
    metaInfo () {
      return {
        title: 'Klaida',
        meta: [
          { name: 'description', content: 'Mūsų erdvės namuose, biuruose, kavinėse, gatvėse galėtų būti stipriai gražesnės, bet žmonės per didelį skubėjimą retai kada apie tai susimąsto, arba tiesiog nežino kur gauti gražių ir nebrangių meno kūrinių.' },
          { name: 'og:description', content: 'Mūsų erdvės namuose, biuruose, kavinėse, gatvėse galėtų būti stipriai gražesnės, bet žmonės per didelį skubėjimą retai kada apie tai susimąsto, arba tiesiog nežino kur gauti gražių ir nebrangių meno kūrinių.' },
          { name: 'og:url', content: 'https://www.' + process.env.BASE_DOMAIN + this.$route.fullPath },
          { name: 'og:type', content: 'article' },
          { name: 'og:image', content: 'https://www.' + process.env.BASE_DOMAIN + '/static/hero/hero2_768_opt.jpg' }
        ]
      }
    },
    beforeDestroy () {
      this.$store.commit('resetMetaInfo')
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../../src/assets/sass/tkg_variables"
  .main-icon-container
    margin-bottom: 10px
    i
      font-size: 54px
      color: $danger-color
  p.strong
    font-weight: 600
</style>
