<template lang="pug">
  div
    .container
      .columns
        .column.is-half-desktop.is-offset-3-desktop.content
          h1.has-text-centered= "Ačiū!"
          .main-icon-container.has-text-centered
            span.icon.is-large
              i.fa.fa-check-circle
          p.has-text-centered= "Jūsų apmokėjimą gavome. Apie tolimesnę užsakymo eigą informuosime el. paštu."
          p.strong.has-text-centered= "AČIŪ, kad prisidedate prie mūsų misijos padėti menininkams kokybiškai skleisti savo kūrinius ir užsidirbti."
          .has-text-centered
            router-link.button.continue.cta-button.is-medium(:to="{ name: 'Home' }")
              span.icon
                i.fa.fa-angle-double-right
              span= "Grįžti į galerijas"
          .is-divider
      .columns.quote-container
        .column.is-8.content.is-offset-1
          p.quote
            span.icon.icon-left
              i.fa.fa-quote-left
            | Mūsų erdvės namuose, biuruose, kavinėse, gatvėse galėtų būti stipriai gražesnės, bet žmonės per didelį skubėjimą retai kada apie tai susimąsto, arba tiesiog nežino kur gauti gražių ir nebrangių meno kūrinių.
            br
            br
            | TikraiGražu.lt projektu siekiame išspręsti šias problemas.
            span.icon.icon-right
              i.fa.fa-quote-right
        .column.is-2
          img.rounded(src="/static/about-us/tomas_portrait_one.jpg")
          p.strong.smaller.has-text-centered Tomas Vyšniauskas
          p.smaller.has-text-centered TikraiGražu.lt įkūrėjas
</template>

<script>
  export default {
    name: 'PaymentThankYouPage',
    data () {
      return {}
    },
    metaInfo () {
      return {
        title: 'Ačiū',
        meta: [
          { name: 'description', content: 'Mūsų erdvės namuose, biuruose, kavinėse, gatvėse galėtų būti stipriai gražesnės, bet žmonės per didelį skubėjimą retai kada apie tai susimąsto, arba tiesiog nežino kur gauti gražių ir nebrangių meno kūrinių.' },
          { name: 'og:description', content: 'Mūsų erdvės namuose, biuruose, kavinėse, gatvėse galėtų būti stipriai gražesnės, bet žmonės per didelį skubėjimą retai kada apie tai susimąsto, arba tiesiog nežino kur gauti gražių ir nebrangių meno kūrinių.' },
          { name: 'og:url', content: 'https://www.' + process.env.BASE_DOMAIN + this.$route.fullPath },
          { name: 'og:type', content: 'article' },
          { name: 'og:image', content: 'https://www.' + process.env.BASE_DOMAIN + '/static/hero/hero2_768_opt.jpg' }
        ]
      }
    },
    beforeDestroy () {
      this.$store.commit('resetMetaInfo')
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../../src/assets/sass/tkg_variables"
  .main-icon-container
    margin-bottom: 10px
    i
      font-size: 54px
      color: $success-color
  p.strong
    font-weight: 600
  .menu-list a
    color: #3273dc
  p.smaller
    font-size: 0.9rem
  p.italic
    font-style: italic
  p.quote
    font-family: "Roboto", sans-serif
    font-style: italic
    color: #777777
    text-align: justify
  .quote-container
    align-items: center
    padding-left: 1rem
    padding-right: 1rem
    .icon
      i
        font-size: 2rem
        font-style: italic
        color: #9e2e9c
      &.icon-left
        i
          margin-right: 1.5rem
      &.icon-right
        vertical-align: bottom
        i
          margin-top: 1rem
          margin-left: 1.5rem
</style>
