<template lang="pug">
  div
    .container
      .columns
        .column.content.is-8-desktop.is-offset-2-desktop
          h1.has-text-centered= "Kainos"
          .tabs.is-small.is-boxed
            ul
              li(:class="{ 'is-active': selected_format == 'rectangle' }")
                a(@click="selectFormat('rectangle')") Stačiakampiai
              li(:class="{ 'is-active': selected_format == 'square' }")
                a(@click="selectFormat('square')") Kvadratai
              li(:class="{ 'is-active': selected_format == 'panoramic' }")
                a(@click="selectFormat('panoramic')") Panoramos (2-3:1)

          table.table.is-bordered(v-if="selected_format == 'rectangle' && pricing_by_wth[1.5]")
            thead
              tr
                th= "Dydis"
                th= "Tipas"
                th= "Kaina"
            tbody
              tr
                td(class="proportion-explainer", colspan='3') 1.5:1 formatas
              tr(v-for="product in pricing_by_wth[1.5]")
                td {{product.canvas_longer_side_cm}}x{{product.canvas_shorter_side_cm}} cm
                td Natūrali, pigmentinė
                td
                  strong {{product.price}} €

          table.table.is-bordered(v-if="selected_format == 'square' && pricing_by_wth[1]")
            thead
              tr
                th= "Dydis"
                th= "Tipas"
                th= "Kaina"
            tbody
              tr
                td(class="proportion-explainer", colspan='3') 1:1 formatas
              tr(v-for="product in pricing_by_wth[1]")
                td {{product.canvas_longer_side_cm}}x{{product.canvas_shorter_side_cm}} cm
                td Natūrali, pigmentinė
                td
                  strong {{product.price}} €

          table.table.is-bordered(v-if="selected_format == 'panoramic' && pricing_by_wth[2.0] && pricing_by_wth[2.5] && pricing_by_wth[3.0]")
            thead
              tr
                th= "Dydis"
                th= "Tipas"
                th= "Kaina"
            tbody
              tr
                td(class="proportion-explainer", colspan='3') 2:1 formatas
              tr(v-for="product in pricing_by_wth[2.0]")
                td {{product.canvas_longer_side_cm}}x{{product.canvas_shorter_side_cm}} cm
                td Natūrali, pigmentinė
                td
                  strong {{product.price}} €

              tr
                td(class="proportion-explainer", colspan='3') 2.5:1 formatas
              tr(v-for="product in pricing_by_wth[2.5]")
                td {{product.canvas_longer_side_cm}}x{{product.canvas_shorter_side_cm}} cm
                td Natūrali, pigmentinė
                td
                  strong {{product.price}} €

              tr
                td(class="proportion-explainer", colspan='3') 3:1 formatas
              tr(v-for="product in pricing_by_wth[3.0]")
                td {{product.canvas_longer_side_cm}}x{{product.canvas_shorter_side_cm}} cm
                td Natūrali, pigmentinė
                td
                  strong {{product.price}} €
          p Turite savo nuotrauką (failą) ir ieškote kas kokybiškai atspausdintų?
            strong= " Tuomet siūlome"
              router-link(:to="{ name: 'PrintWithYourPicturePage' }")= " -30% nuolaidą!"
          h2= "Apie mūsų kainas"
          p TikraiGražu.lt fotografų bendruomenės kainos yra didesnės negu kitų įmonių, užsiimančių spauda ant drobių. Tam yra kelios priežastys:
          h3 1. KOKYBĖ
          p Visų pirma, kokybiškai ir pigiai spausdinti neįmanoma. Išbandėme pigesnius drobių spausdintojus - deja, kokybe teko nusivilti. Kartais netgi būdavo taip, kad gaudavome gerai atrodantį produktą, bet po 2 savaičių drobė išblukdavo ir susiraukšlėdavo.
            router-link(:to="{name: 'QualityComparisonPage'}")= " Pamatykite kokybės palyginimą savo akimis."
          p Todėl išsirinkome tuos specialistus, kurie spausdina tik ant
            |
            |
            strong kokybiškos natūralios medvilnės drobės, naudoja sveikatos nežalojančius pigmentinius dažus (ypač svarbu jeigu turite vaikų), lakuoja ilgaamžišku archyviniu laku bei suteikia garantiją.
          h3 2. SĄŽININGAS ATSISKAITYMAS SU FOTOGRAFAIS
          p Siekiame padėti projekte dalyvaujantiems fotografams skleisti savo meną ir iš to užsidirbti.
            |
            |
            strong Todėl mokame dosnų 25-30% komisinį nuo pardavimo kainų - tai daugiau negu moka analogiški projektai užsienio šalyse.
            |
            | Didžiąją dalį pardavimo kainos sudaro drobės gamybos sąnaudos.
          h3 3. MISIJA
          p Pirkdami TikraiGražu.lt, jūs prisidedate prie aukštesnių tikslų:
          ul
            li Padėti menininkams skleisti savo meną pasaulyje ir užsidirbti;
            li Ugdyti ir auginti meninę saviraišką pasaulyje;
            li Ieškoti naujų meno ir technologijų sintezės taškų.
          p TikraiGražu.lt - tai tik pirmas žingsnelis šios misijos kelyje. Jaučiame, kad Lietuvai toks projektas labai reikalingas, todėl nuo to ir pradedame.
          p 5-20 metų laikotarpyje tai išaugs į pasaulinę meno parduotuvę, kurioje bus pardavinėjamos ne tik nuotraukos ant drobių, bet įvairaus formato meno kūriniai. Tai bus meno “Amazon’as”, veikiantis ne tik internete, bet ir fizinėse galerijose. Didindami meno pasiekiamumą ir ugdydami meno “vartotojus”, sieksime kad pasaulis taptų gražesnis, laisvesnis, darnesnis - arčiau dieviškumo, toliau nuo destrukcijos.
      .columns
        .column.is-one-half.content.has-text-centered
          router-link.button.cta-button.is-medium(:to="{ name: 'Home' }")
            span.icon
              i.fa.fa-angle-double-right
            span= "Į galeriją"

      .columns
        .column.content
          canvas-product-usp

</template>

<script>
  import axios from 'axios'
  import CanvasProductUsp from '../parts/CanvasProductUsp.vue'

  export default {
    name: 'PricingPage',
    data () {
      return {
        pricing_by_wth: {
          '1.0': null,
          '1.5': null,
          '2.0': null,
          '2.5': null,
          '3.0': null
        },
        selected_format: 'rectangle'
      }
    },
    metaInfo () {
      return {
        title: 'Kainos',
        meta: [
          { name: 'description', content: 'Informacija apie meno kūrinių kainas TikraiGražu.lt' },
          { name: 'og:description', content: 'Informacija apie meno kūrinių kainas TikraiGražu.lt' },
          { name: 'og:url', content: 'https://www.' + process.env.BASE_DOMAIN + this.$route.fullPath },
          { name: 'og:type', content: 'article' },
          { name: 'og:image', content: 'https://www.' + process.env.BASE_DOMAIN + '/static/hero/hero2_768_opt.jpg' }
        ]
      }
    },
    mounted () {
      this.fetchPricingInfo(1.5)
      this.fetchPricingInfo(1.0)
      this.fetchPricingInfo(2.0)
      this.fetchPricingInfo(2.5)
      this.fetchPricingInfo(3.0)
    },
    methods: {
      fetchPricingInfo (wth) {
        axios.get(process.env.API_BASE_URL + '/product/all_by_type_and_wth_ratio/canvas_natural/' + wth)
          .then(response => {
            this.pricing_by_wth[wth] = response.data
          })
          .catch(e => {
            // this.errors.push(e)
          })
      },
      selectFormat (format) {
        this.selected_format = format
      }
    },
    components: {
      'canvas-product-usp': CanvasProductUsp
    },
    beforeDestroy () {
      this.$store.commit('resetMetaInfo')
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../../src/assets/sass/tkg_variables"

  strong
    font-weight: 600
  .tabs
    margin: 0
    ul
      align-items: flex-end
      margin: 0
  table
    thead
      th
        border-top: none
    tbody
      td.proportion-explainer
        background-color: #f1f1f1
        font-weight: bold
        text-align: center
</style>
