<template lang="pug">
  div
    .container
      .columns
        .column.is-half-desktop.is-offset-3-desktop.content
          h1.has-text-centered= "Taisyklės"

          h3 Gamybos/pristatymo terminai
          ul
            li Drobės pagaminamos per 1-2 sav. (jeigu perkant nenurodyta kitaip).
            li Lietuvos teritorijoje pristatomos per 1-3 d. d. per kurjerius, taipogi galima atsiimti pas gamintoją.
            li Dėl pristatymo į užsienį galioja sutartinės sąlygos.

          h3 Grąžinimo sąlygos
          p Užsakovas, norėdamas pakeisti jau patvirtintą užsakymą, turi nedelsdamas kreiptis į paslaugų teikėją ir išsiaiškinti, ar pakeitimai dar galimi. Jei paslaugų teikėjas gali ir sutinka daryti pakeitimus, jis praneša apie tai užsakovui, kartu nurodydamas papildomą mokestį, jei toks mokestis, jo manymu, reikalingas. Pasiekus naują susitarimą, darbai atliekami bendra tvarka, laikantis šių taisyklių nuostatų. Galimi jau patvirtintų ir apmokėtų paslaugų pakeitimai:
          ul
            li darbų atlikimo termino pakeitimas;
            li pristatymo būdo pakeitimas;
            li pristatymo adreso ir laiko pakeitimas;
            li pinigų grąžinimas (ar įskaitymas) už permokėtus užsakymus;
            li apmokėto užsakymo atšaukimas, kai avansu sumokėta suma naudojama kitam kliento užsakymui;
            li kitos paslaugos, gavus paslaugų teikėjo sutikimą.
          p Užsakovas gali atsisakyti jau patvirtinto užsakymo, tik sąžiningai atlyginęs paslaugų teikėjo išlaidas.

          h2.has-text-centered= "Rekvizitai"
          p Projektą administruoja:
          p
            | MB Branduolys
            br
            | Į. k. 303166941
            br
            | J. Savickio g. 4
            br
            | +370 630 90709

</template>

<script>
  export default {
    name: 'TermsPage',
    data () {
      return {}
    },
    metaInfo () {
      return {
        title: 'Taisyklės',
        meta: [
          { name: 'description', content: 'Mūsų erdvės namuose, biuruose, kavinėse, gatvėse galėtų būti stipriai gražesnės, bet žmonės per didelį skubėjimą retai kada apie tai susimąsto, arba tiesiog nežino kur gauti gražių ir nebrangių meno kūrinių.' },
          { name: 'og:description', content: 'Mūsų erdvės namuose, biuruose, kavinėse, gatvėse galėtų būti stipriai gražesnės, bet žmonės per didelį skubėjimą retai kada apie tai susimąsto, arba tiesiog nežino kur gauti gražių ir nebrangių meno kūrinių.' },
          { name: 'og:url', content: 'https://www.' + process.env.BASE_DOMAIN + this.$route.fullPath },
          { name: 'og:type', content: 'article' },
          { name: 'og:image', content: 'https://www.' + process.env.BASE_DOMAIN + '/static/hero/hero2_768_opt.jpg' }
        ]
      }
    },
    beforeDestroy () {
      this.$store.commit('resetMetaInfo')
    },
  }
</script>
