<template lang="pug">
  div
    .container
      //
        .columns.top-progress-container.is-multiline.is-hidden-mobile(style="margin-top: 20px")
          .column.is-one-quarter-desktop.is-6-tablet.is-offset-3-tablet-only
            .top-picture-container
              .on-hover.is-overlay
                router-link.button.is-light(:to="{ name: 'ViewPicture', params: { id: id, slug: slug } }")
                  span.icon
                    i.fa.fa-angle-left
                  span į peržiūrą
              img(:src="picture_source_url")
          .column.is-three-quarters-desktop.is-12-tablet

      <!-- STEP 1 -->
      template
        .product-selection.columns.is-mobile.is-multiline.content
          a.button.is-transparent.is-loading.full-width(v-if="!grouped_products") Kraunasi...
          template(v-if="grouped_products")
            .column.is-12-mobile.is-one-quarter-tablet
              .product-explanator
                div
                  h2.is-marginless= "Drobės dydis:"
                div
                  p= "Retkarčiais galutinio produkto dydis gali skirtis keliais centimetrais (dėl išskirtinių nuotraukos proporcijų)."
                  p= " Apie tai būtinai informuosime prieš spausdindami."
            .column.is-12-mobile.is-three-quarters-tablet
              .columns.is-multiline.is-mobile
                .column.is-one-quarter-desktop.is-one-third-tablet.is-half-mobile(v-for="products in grouped_products")
                  .product-selector(v-scroll-to="'#product-quantity-area, 50px'", @click="selectProduct(products[default_product_type])", :class="{'selected': products[default_product_type] == checkout_form.selected_product}")
                    .product-price
                      | {{ products[default_product_type].price }} €
                    .product-dimensions= "{{products[default_product_type].canvas_longer_side_cm}} x {{products[default_product_type].canvas_shorter_side_cm}} cm"
                    .bg-filler(:style="{width: products[default_product_type].ui_relative_edge_percentages[0] + '%', height: products[default_product_type].ui_relative_edge_percentages[1] + '%'}")
        .is-divider(v-if="buyable_product")
        #product-type-area.product-selection.columns(v-if="buyable_product")
          //
            template
              .column.is-12-mobile.is-one-quarter-tablet.content
                .product-explanator
                  h2.is-marginless= "Medžiagos tipas:"
              .column.is-12-mobile.is-three-quarters-tablet
                .columns.is-multiline.is-mobile
                  .column.is-one-quarter-desktop.is-one-third-tablet.is-half-mobile
                    .product-selector(@click="selectProductType('canvas_synthetic')", :class="{'selected': checkout_form.selected_product_type == 'canvas_synthetic'}")
                      .product-title
                        p.main= "Sintetinė drobė"
                        p.explain= "Matinis faktūrinis audinys"
                      .product-price.is-invisible
                        | x
                  .column.is-one-quarter-desktop.is-one-third-tablet.is-half-mobile
                    .product-selector(@click="selectProductType('canvas_natural')", :class="{'selected': checkout_form.selected_product_type == 'canvas_natural'}")
                      .product-title
                        p.main= "Natūrali drobė"
                        p.explain= "Storas medvilnės audinys"
                      .product-price.upsell(v-if="upsell_price")= "+{{ upsell_price }} €"

        #product-quantity-area.product-selection.columns(v-if="buyable_product")
          template
            .column.is-12-mobile.is-one-quarter-tablet.content
              .product-explanator
                h2.is-marginless= "Kiek drobių norėsite?"
            .column.is-12-mobile.is-three-quarters-tablet
              .columns.is-multiline.is-mobile
                .column.is-one-quarter-desktop.is-one-third-tablet.is-half-mobile
                  .product-selector(@click="selectQty(1)", :class="{'selected': checkout_form.selected_qty == 1}", v-scroll-to="'#personal-info-area, 50px'")
                    .product-title
                      p.main= "Viena"
                      p.explain= "Sau ar draugui"
                    .product-price.is-invisible
                      | x
                .column.is-one-quarter-desktop.is-one-third-tablet.is-half-mobile
                  .product-selector(@click="selectQty(2)", :class="{'selected': checkout_form.selected_qty == 2}", v-scroll-to="'#personal-info-area, 50px'")
                    .product-title
                      p.main= "Dvi"
                      p.explain= "Sau ir draugui"
                    .product-price.upsell(v-if="buyable_product")= "+{{ buyable_product.price }} €"
                .column.is-one-quarter-desktop.is-one-third-tablet.is-half-mobile
                  .product-selector(@click="selectQty(3)", :class="{'selected': checkout_form.selected_qty == 3}", v-scroll-to="'#personal-info-area, 50px'")
                    .product-title
                      p.main= "Trys"
                      p.explain= "Sau, draugui ir kaimynui"
                    .product-price.upsell(v-if="buyable_product")= "+{{ buyable_product.price * 2 }} €"
                .column.is-one-quarter-desktop.is-one-third-tablet.is-half-mobile
                  .product-selector.unselectable
                    .product-title
                      p.main= "Daugiau?"
                      p.explain= "Skambinkite"
                      a.explain(:href="'tel:' + business_phone_number") {{ business_phone_number }}
                      p.explain= "Drobės ID: {{ id }}"
                    .product-price.is-invisible
                      | x

      <!-- STEP 2 -->
      .is-divider(v-if="buyable_product")
      #personal-info-area
        template(v-if="buyable_product")
          .buyer-info-area.columns
            template
              .column.is-one-quarter.content
                .product-selection
                  .product-explanator
                    h2.is-marginless= "Jūsų duomenys:"
              .buyer-info-form.column.is-three-quarters
                .columns
                  .column.is-one-third-desktop.content.is-offset-2-desktop.form-input-column
                    p.control.has-icons-left.has-icons-right.validation-enabled(:class="{ 'error': $v.checkout_form.buyer_name.$error, 'good': checkout_form.buyer_name.length && !$v.checkout_form.buyer_name.$error }")
                      input.input(tabindex="1", type='text', placeholder='Jūsų vardas', v-model.trim="checkout_form.buyer_name", @input="$v.checkout_form.buyer_name.$touch()", :class="{ 'is-danger': $v.checkout_form.buyer_name.$error, 'is-success': checkout_form.buyer_name.length && !$v.checkout_form.buyer_name.$error }", autofocus="autofocus")
                      span.icon.is-small.is-left
                        i.fa.fa-user
                      span.icon.is-small.is-right(v-if="checkout_form.buyer_name.length && !$v.checkout_form.buyer_name.$error")
                        i.fa.fa-check

                .columns
                  .column.is-one-third-desktop.content.is-offset-2-desktop.form-input-column
                    p.control.has-icons-left.has-icons-right.validation-enabled(:class="{ 'error': $v.checkout_form.buyer_email.$error, 'good': checkout_form.buyer_email.length && !$v.checkout_form.buyer_email.$error }")
                      input.input(tabindex="2", type='email', placeholder='Jūsų el. paštas', v-model.trim="checkout_form.buyer_email", @input="$v.checkout_form.buyer_email.$touch()", :class="{ 'is-danger': $v.checkout_form.buyer_email.$error, 'is-success': checkout_form.buyer_email.length && !$v.checkout_form.buyer_email.$error }")
                      span.icon.is-small.is-left
                        i.fa.fa-envelope
                      span.icon.is-small.is-right(v-if="checkout_form.buyer_email.length && !$v.checkout_form.buyer_email.$error")
                        i.fa.fa-check
                  .column.is-one-third.content.form-input-explainer
                    p El. paštu informuosime, kai drobė bus pagaminta
                .columns
                  .column.is-one-third-desktop.content.is-offset-2-desktop.form-input-column
                    p.control.has-icons-left.has-icons-right.validation-enabled(:class="{ 'error': $v.checkout_form.buyer_phone.$error, 'good': checkout_form.buyer_phone.length && !$v.checkout_form.buyer_phone.$error }")
                      input.input(tabindex="3", type='text', placeholder='Jūsų telefonas', v-model.trim="checkout_form.buyer_phone", @input="$v.checkout_form.buyer_phone.$touch()", :class="{ 'is-danger': $v.checkout_form.buyer_phone.$error, 'is-success': checkout_form.buyer_phone.length && !$v.checkout_form.buyer_phone.$error }")
                      span.icon.is-small.is-left
                        i.fa.fa-phone
                      span.icon.is-small.is-right(v-if="checkout_form.buyer_phone.length && !$v.checkout_form.buyer_phone.$error")
                        i.fa.fa-check
                  .column.is-one-third.content.form-input-explainer
                    p Telefonu susisieksime, jeigu reikės patikslinti užsakymo detales

        .is-divider(v-if="buyable_product")
        #select-shipping-type-area.columns(v-if="buyable_product")
          template
            .column.is-one-quarter.content
              .product-selection
                .product-explanator
                  h2.is-marginless= "Pristatymo būdas:"
            .column.is-three-quarters
              .columns.product-selection.is-multiline.is-mobile
                .column.is-one-quarter-desktop.is-half-tablet.is-half-mobile.is-offset-2-desktop
                  .product-selector(@click="selectShippingType('pickup')", :class="{'selected': checkout_form.selected_shipping_type == 'pickup'}", v-scroll-to="'#after-shipping-type-selection, 70px'")
                    .product-title
                      p.main= "Atsiimti pačiam"
                      p.explain= "A.Vienuolio g. 4, Vilnius"
                      p.explain= "(prie Operos ir baleto teatro)"
                      p.explain= "I-V 8-19h, VI 10-16h"
                    .product-price.is-invisible
                      | x
                .column.is-one-quarter-desktop.is-half-tablet.is-half-mobile
                  .product-selector(@click="selectShippingType('courier')", :class="{'selected': checkout_form.selected_shipping_type == 'courier' && courier_shipping_price > 0}", v-scroll-to="'#after-shipping-type-selection, 50px'")
                    .product-title
                      p.main= "Siųsti per kurjerius"
                      p.explain {{ courier_shipping_price > 0 ? 'Pristato TNT' : 'Drobės dydis per didelis standartinei siuntai. Susisiekite telefonu ir rasime tinkamiausią pristatymo būdą!' }}
                      a.explain(v-if="courier_shipping_price == 0", :href="'tel:' + business_phone_number") {{ business_phone_number }}
                    .product-price.upsell(v-if="buyable_product", :class="{'is-invisible': courier_shipping_price == 0}")= "+{{courier_shipping_price}} €"

        #after-shipping-type-selection

        #shipping-info-area.columns(v-if="checkout_form.selected_shipping_type != 'pickup'")
          template
            .column.is-one-quarter.content
              .product-selection
                .product-explanator
                  h2.is-marginless= "Įveskite pristatymo duomenis:"
            .shipping-info-form.column.is-three-quarters
              .columns
                .column.is-one-third-desktop.content.is-offset-2-desktop.form-input-column
                  .field
                    label.label Gavėjo vardas, pavardė
                    p.control
                      input.input(tabindex="4", type='text', placeholder='Pvz. Vardenis Pavardenis', v-model.trim="checkout_form.shipping_name", @input="$v.checkout_form.shipping_name.$touch()")
                .column.is-one-third-desktop.content.form-input-column
                  .field
                    label.label Adresas
                    p.control
                      input.input(tabindex="5", type='text', placeholder='Pvz. Lelijų g. 4-2', v-model.trim="checkout_form.shipping_address", @input="$v.checkout_form.shipping_address.$touch()")
              .columns
                .column.is-one-third-desktop.content.is-offset-2-desktop.form-input-column
                  .field
                    label.label Miestas
                    p.control
                      input.input(tabindex="6", type='text', v-model.trim="checkout_form.shipping_city", @input="$v.checkout_form.shipping_city.$touch()")
                .column.is-one-third-desktop.content.form-input-column
                  .field
                    label.label Pašto kodas
                    p.control
                      input.input(tabindex="7", type='text', v-model.trim="checkout_form.shipping_post_code", @input="$v.checkout_form.shipping_post_code.$touch()")
              .columns
                .column.is-one-third-desktop.content.is-offset-2-desktop.form-input-column
                  .field
                    label.label Valstybė
                    p.control
                      input.input(tabindex="8", type='text', disabled="disabled", v-model.trim="checkout_form.shipping_country", @input="$v.checkout_form.shipping_country.$touch()")
                .column.is-one-third-desktop.content.form-input-column
                  p
                    br
                    small
                      | (Dėl siuntimo į užsienį, susisiekite
                      a(:href='"mailto:" + business_email')= " el. paštu "
                      | arba
                      a(:href='"tel:" + business_phone_number')= " telefonu"
                      | )
      <!-- STEP 3 -->
      #confirm-before-payment-area
        template(v-if="buyable_product")
          .confirm-before-payment-area.columns
            template
              .column.is-one-quarter.content
                .product-selection
                  .product-explanator
                    h2.is-marginless= "Jūsų užsakymas:"
              .column.is-three-quarters
                .columns
                  .column.is-two-thirds.content.is-offset-2.checkout-summary
                    img(:src="picture_source_url", style="border-radius: 5px; width: 35%")
                    p
                      strong {{buyable_product.canvas_longer_side_cm}}x{{buyable_product.canvas_shorter_side_cm}} cm, {{human_friendly_product_type}}, {{checkout_form.selected_qty}} vnt.
                    p
                      strong= "Pristatymo būdas: "
                      |
                      | {{human_friendly_shipping_type}}

                    .is-divider
                    p
                      strong= "Galutinė kaina: {{subtotal_price}} € + {{shipping_price}} € (pristatymas) = {{total_price}} €"

                    .is-divider
                    ul
                      li
                        | Gamybos terminas:
                        |
                        strong 4-10 d.
                        br
                        small (Dėl tikslaus termino, susisiekite telefonu {{business_phone_number}})
                      li
                        | Pateikdami užsakymą, jūs sutinkate su TikraiGražu.lt
                        |
                        router-link(:to="{ name: 'TermsPage' }", target="_blank") taisyklėmis
                      li= "Norėdami užsisakyti "
                        router-link(:to="{ name: 'HangingInstructionsPage' }", target="_blank") drobių laikiklius
                        | , informuokite mus apie tai iš karto po užsakymo apmokėjimo.

      <!-- NAVIGATION -->
      .is-divider(v-if="buyable_product")
      .navigation-buttons.columns(v-if="buyable_product")
        .column.is-one-half.content
          a.button.continue.cta-button.is-medium(@click="initiatePayment", :class="{ 'is-loading': payment_initiated }")
            span.icon
              i.fa.fa-angle-double-right
            span= "mokėti ({{ total_price }} €)"
          p.reg-note
            span.icon
              i.fa.fa-lock
            | Saugus mokėjimas per Lietuvos arba užsienio bankus (Paysera)
</template>

<script>
  import axios from 'axios'
  import { validationMixin } from 'vuelidate'
  import { required, email, minLength, requiredIf } from 'vuelidate/lib/validators'
  import { mapState, mapMutations } from 'vuex'

  export default {
    name: 'BuyPicture',
    props: ['id', 'slug'],
    mixins: [validationMixin],
    data () {
      return {
        default_product_type: 'canvas_natural',
        upsell_product_type: 'canvas_natural',
        grouped_products: null,
        payment_initiated: false,
        shipping_cost_matrix: null
      }
    },
    beforeDestroy () {
      this.$store.commit('resetMetaInfo')
    },
    mounted () {
      this.fetchProductData()
      this.fetchShippingCostMatrix()
    },
    computed: mapState({
      courier_shipping_price () {
        if (!this.shipping_cost_matrix || !this.buyable_product) {
          return 0
        }
        return this.shipping_cost_matrix[this.buyable_product.canvas_longer_side_cm + 'x' + this.buyable_product.canvas_shorter_side_cm] * this.checkout_form.selected_qty
      },
      checkout_form () {
        return this.$store.state.checkout_form
      },
      subtotal_price () {
        if (!this.buyable_product) {
          return 0
        }
        return this.buyable_product.price * this.checkout_form.selected_qty
      },
      shipping_price () {
        return this.checkout_form.selected_shipping_type === 'courier' ? this.courier_shipping_price : 0
      },
      total_price () {
        return this.subtotal_price + this.shipping_price
      },
      buyable_product () { // for checkout and final price calculations
        if (!this.checkout_form.selected_product || !this.grouped_products) {
          return null
        }
        return this.grouped_products[this.checkout_form.selected_product.canvas_longer_side_cm + 'x' + this.checkout_form.selected_product.canvas_shorter_side_cm][this.checkout_form.selected_product_type]
      },
      picture_source_url () {
        return process.env.STATIC_BASE_URL + '/picture/' + this.id + '/' + this.id + '_web_368.jpg'
      },
      business_phone_number () {
        return process.env.BUSINESS_PHONE_NUMBER
      },
      business_email () {
        return process.env.BUSINESS_EMAIL
      },
      upsell_price () {
        return null
        /* if (!this.grouped_products || !this.checkout_form.selected_product) {
          return null
        }
        return this.grouped_products[this.checkout_form.selected_product.canvas_longer_side_cm + 'x' + this.checkout_form.selected_product.canvas_shorter_side_cm][this.upsell_product_type]['price'] - this.checkout_form.selected_product.price */
      },
      human_friendly_product_type () {
        let productType = this.checkout_form.selected_product_type
        if (!productType) {
          return ''
        }
        if (productType === 'canvas_synthetic') {
          return 'sintetinė drobė'
        } else if (productType === 'canvas_natural') {
          return 'natūrali drobė'
        } else {
          return 'drobė'
        }
      },
      human_friendly_shipping_type () {
        let shippingType = this.checkout_form.selected_shipping_type
        if (!shippingType) {
          return ''
        }
        if (shippingType === 'courier') {
          return 'Pristatymas per kurjerius'
        } else if (shippingType === 'pickup') {
          return 'Atsiėmimas pačiam'
        } else {
          return ''
        }
      }
    }),
    watch: {
      'checkout_form': {
        handler: function (after, before) {
          this.updateCheckoutForm(this.checkout_form)
        },
        deep: true
      }
    },
    methods: {
      ...mapMutations([
        'updateCheckoutForm'
      ]),
      initiatePayment () {
        this.payment_initiated = true
        let isTestPayment = typeof this.$route.query.test !== 'undefined' && this.$route.query.test == 1
        axios.post(process.env.API_BASE_URL + '/order/place_single_product', {
          checkout_form: this.checkout_form,
          buyable_product: this.buyable_product,
          is_test_payment: isTestPayment
        })
          .then(response => {
            this.payment_initiated = true
            if (response.data.status === 'ok') {
              location.href = response.data.redirect_url
            }
          })
          .catch(e => {
            // this.errors.push(e)
            this.payment_initiated = false
          })
      },
      fetchProductData () {
        axios.get(process.env.API_BASE_URL + '/picture/' + this.id + '/products')
          .then(response => {
            this.grouped_products = response.data
            this.checkout_form.picture_id = this.id
            this.checkout_form.selected_product = this.grouped_products[Object.keys(this.grouped_products)[0]][this.default_product_type]
            setTimeout(function () {
              window.scrollTo(0, 0)
            }, 300)
          })
          .catch(e => {
            // this.errors.push(e)
          })
      },
      fetchShippingCostMatrix () {
        axios.get(process.env.API_BASE_URL + '/picture/' + this.id + '/shipping_costs')
          .then(response => {
            this.shipping_cost_matrix = response.data
          })
          .catch(e => {
            // this.errors.push(e)
          })
      },
      selectProduct (product) {
        this.checkout_form.selected_product = product
      },
      selectProductType (type) {
        this.checkout_form.selected_product_type = type
      },
      selectQty (qty) {
        this.checkout_form.selected_qty = qty
      },
      selectShippingType (type) {
        this.checkout_form.selected_shipping_type = type
      }
    },
    validations: {
      checkout_form: {
        buyer_name: {
          required
        },
        buyer_email: {
          required,
          email
        },
        buyer_phone: {
          required,
          minLength: minLength(5)
        },
        shipping_name: {
          required: requiredIf(function (nestedModel) {
            return this.checkout_form.selected_shipping_type !== 'pickup'
          })
        },
        shipping_address: {
          required: requiredIf(function (nestedModel) {
            return this.checkout_form.selected_shipping_type !== 'pickup'
          })
        },
        shipping_city: {
          required: requiredIf(function (nestedModel) {
            return this.checkout_form.selected_shipping_type !== 'pickup'
          })
        },
        shipping_post_code: {
          required: requiredIf(function (nestedModel) {
            return this.checkout_form.selected_shipping_type !== 'pickup'
          })
        },
        shipping_country: {
          required: requiredIf(function (nestedModel) {
            return this.checkout_form.selected_shipping_type !== 'pickup'
          })
        }
      }
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../src/assets/sass/tkg_mixins"
  @import "../../src/assets/sass/tkg_variables"
  $border-radius: 5px
  $price-color: #25a96c
  $upsell-color: #8e24aa

  p.reg-note
    color: darkgray
    margin-top: 14px

  .top-progress-container
    align-items: center
    .top-picture-container
      @media (min-width: 769px)
        text-align: right
        width: 70%
        margin-left: auto
        &:hover .on-hover
          opacity: 1
      @media (min-width: 769px) and (max-width: 1023px)
        margin-right: auto
      font-size: 0
      position: relative

      .on-hover
        display: flex
        justify-content: center
        align-items: center
        background: rgba(0, 0, 0, 0.4)
        border-radius: $border-radius
        opacity: 0
        transition: opacity .2s ease-in-out
      img
        border-radius: $border-radius
    #buy-progress-indicator
      .steps-segment.is-active ~ .steps-segment:not(.is-active) .icon i
        color: #7a7a7a

  .product-selection
    .product-explanator
      display: flex
      flex-direction: column
      @media (min-width: 769px)
        text-align: right
        height: 140px
        padding: 5px
      p
        font-size: 0.9rem
        letter-spacing: -1px
        color: $light-text-color
      > div
        flex: 1 0 auto
    .product-selector
      background: #fff
      border-radius: $border-radius
      height: 140px
      padding: 5px
      transition: box-shadow .15s ease-in-out
      border: 1px solid #e8e8e8
      cursor: pointer
      position: relative
      display: flex
      flex-direction: column
      @include textUnselectable
      &.selected, &:not(.unselectable):hover
        .bg-filler
          background: transparent
        .product-dimensions, .product-title, .product-price, .product-price.upsell, a
          color: #fff
      &.selected
        background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%)
      &:not(.selected):hover
        background: $upsell-color
      &.unselectable
        cursor: initial
        &:hover
          background: #fff
      &:hover
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0px 2px 10px -12px rgba(0, 0, 0, 0.1)

      .bg-filler
        position: absolute
        right: 0
        bottom: 0
        width: 90%
        height: 70%
        border-top: 1px dashed #e8e8e8
        border-left: 1px dashed #e8e8e8
        border-bottom-right-radius: 5px
        background: #fdfdfd

      .product-dimensions
        margin-top: auto
        font-size: 13px
        font-family: 'Roboto', sans-serif
        letter-spacing: -0.5px
        z-index: 1
        display: flex
        justify-content: flex-end
      .product-title
        margin-top: auto
        margin-bottom: auto
        text-align: center
        font-family: 'Roboto', sans-serif
        p.main
          font-size: 17px
          font-weight: 700
        p.explain
          font-size: 12px
      .product-price
        z-index: 1
        display: flex
        justify-content: center
        color: $price-color
        font-weight: 600
        &.upsell
          color: $upsell-color

  .navigation-buttons
    text-align: center
    padding-bottom: 35px
    .button.continue
      @media (min-width: 769px)
        width: 25%

  .form-input-explainer
    display: flex
    align-items: center
    p
      color: #ababab
      font-size: 12px
  .form-input-column
    margin-bottom: 0 !important

  .buyer-info-area
    .buyer-info-form
      margin-top: 10px
    .control.validation-enabled
      &.error
        .icon
          color: $danger-color
      &.good
        .icon
          color: $success-color
  #shipping-info-area
    .shipping-info-form
      margin-top: 10px

  .checkout-summary
    p
      line-height: 1.2
      margin-bottom: 0.4em
</style>
