<template lang="pug">
  .collection-widget-container
    .inner-container
      .collection-card
        router-link(:to="{ name: 'ViewCollection', params: { slug: collection.slug }}")
          .thumbs-container
            .left-cnt
              img(:src="first_thumb_url")
            .right-cnt
              div
                img(:src="second_thumb_url")
              div
                img(:src="third_thumb_url")
          .collection-name
            span= "{{collection.title}} "
            br
            span.picture-count= "{{collection.picture_count}} nuotr."
</template>

<script>
export default {
  name: 'CollectionWidget',
  props: ['collection'],
  data () {
    return {
    }
  },
  computed: {
    first_thumb_url: function () {
      return process.env.STATIC_BASE_URL + '/picture/' + this.collection.thumb_ids[0] + '/' + this.collection.thumb_ids[0] + '_web_368.jpg'
    },
    second_thumb_url: function () {
      return process.env.STATIC_BASE_URL + '/picture/' + this.collection.thumb_ids[1] + '/' + this.collection.thumb_ids[1] + '_web_368.jpg'
    },
    third_thumb_url: function () {
      return process.env.STATIC_BASE_URL + '/picture/' + this.collection.thumb_ids[2] + '/' + this.collection.thumb_ids[2] + '_web_368.jpg'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
