<template lang="pug">
  .collection-widget-container
    .inner-container
      .collection-card
        a
          .thumbs-container
            .left-cnt
            .right-cnt
              div
              div
</template>

<script>
export default {
  name: 'CollectionWidgetPlaceholder',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
  @keyframes colorChange
    0%
      background: #e6e6e6
    50%
      background: #ececec
    100%
      background: #e6e6e6

  .left-cnt, .right-cnt
    animation: colorChange .5s infinite
  .thumbs-container
    box-shadow: none !important
</style>
