<template lang="pug">
  div
    .container
      .columns
        .column.is-12.home-attention.content
          h1.has-text-centered= "Ar gali sau leisti nugyventi gyvenimą tarp banalių sienų?"
          h4.has-text-centered TikraiGražu.lt - tai foto menininkų bendruomenė, siūlanti Tau daugiau nei 1100 kruopščiai atrinktų meno kūrinių.
          h4.has-text-centered Išsirink, kas artimiausia širdžiai, pasižiūrėk kaip atrodys kambaryje ir užsisakyk muziejinės klasės Fine Art drobę.
      .tkg-col-container
        .tkg-column(v-for='collection_placeholder in collections_placeholders', v-if="!collections.length")
          collection-widget-placeholder
        .tkg-column(v-for='collection in collections', v-if="collections && collections.length")
          collection-widget(:collection="collection")
      no-ssr
        infinite-loading(@infinite="infiniteHandler", spinner="waveDots")
          span(slot="no-more")= "Peržiūrėjote visas kolekcijas! :)"
          span(slot="no-results")= "Peržiūrėjote visas kolekcijas! :)"
</template>

<script>
import CollectionWidget from './CollectionWidget.vue'
import CollectionWidgetPlaceholder from './CollectionWidgetPlaceholder.vue'
import HomeHero from './HomeHero.vue'
import HomeUpperAd from './HomeUpperAd.vue'
import { mapMutations, mapState } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'
import NoSSR from 'vue-no-ssr'
import EmailOptinWidget from './parts/EmailOptinWidget.vue'
import CanvasProductUsp from './parts/CanvasProductUsp.vue'

export default {
  name: 'Home',
  /* asyncData ({ store, route }) {
    let isFirstLoad = store.state.get_collections_call_counter === 0
    if (isFirstLoad) {
      store.commit('purgeCollections')
      return store.dispatch('fetchCollections')
    }
  }, */
  metaInfo () {
    return {
      title: 'Foto drobės Tavo sielai',
      meta: [
      { name: 'description', content: 'Kruopščiai atrinktos drobės Jūsų namų ir biuro grožiui' },
      { name: 'og:description', content: 'Kruopščiai atrinktos drobės Jūsų namų ir biuro grožiui' },
      { name: 'og:url', content: 'https://www.' + process.env.BASE_DOMAIN + this.$route.fullPath },
      { name: 'og:type', content: 'business.business' },
      { name: 'og:image', content: 'https://www.' + process.env.BASE_DOMAIN + '/static/hero/hero2_768_opt.jpg' }
      ]
    }
  },
  data () {
    return {
      collections_placeholders: [...Array(10).keys()]
    }
  },
  computed: mapState({
    collections () {
      return this.$store.state.collections
    }
  }),
  beforeDestroy () {
    this.$store.commit('resetMetaInfo')
  },
  methods: {
    ...mapMutations([
      'getCollections'
    ]),
    infiniteHandler ($state) {
      // https://peachscript.github.io/vue-infinite-loading/#!/getting-started/hacker-news
      this.$store.commit('getCollections', function (loaderResponse) {
        loaderResponse === 0 ? $state.complete() : $state.loaded()
      })
    }
  },
  components: {
    'collection-widget': CollectionWidget,
    'collection-widget-placeholder': CollectionWidgetPlaceholder,
    'home-hero': HomeHero,
    'home-upper-ad': HomeUpperAd,
    'infinite-loading': InfiniteLoading,
    'no-ssr': NoSSR,
    'email-optin-widget': EmailOptinWidget,
    'canvas-product-usp': CanvasProductUsp
  },
  mounted: function () {
    let isFirstLoad = this.$store.state.get_collections_call_counter === 0
    if (isFirstLoad) {
      this.$store.commit('purgeCollections')
      this.$store.dispatch('fetchCollections')
    }
  },
  created: function () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
  .home-attention
    padding: 40px 15%
    background: #22292c
    border-radius: 5px
    h1
      color: white
    h4
      color: #90A9B4
</style>
