<template lang="pug">
  .upper-ad-container(@click="clickHomeUpperAd")
    router-link(:to="{ name: 'ViewCollection', params: { slug: 'vaido-geguzio-cucomaio-darbai' }}")
      .text-overlay
        .bottom-container
          .award-container
            .icon
              i.fa.fa-trophy
            .award-text
              span(style="font-weight: 700") Geriausios metų drono nuotraukos autorius!
              |
              | (Times žurnalas)
          .link-container
            p
              span.icon
                i.fa.fa-angle-double-right
              | Vaido Gegužio (CucoMaio)
              |
              span(style="color: white") drobės!
      img(src="https://static.tikraigrazu.lt/picture/998/mockups/2.jpg")
</template>

<script>
  export default {
    name: 'HomeUpperAd',
    methods: {
      clickHomeUpperAd () {
        this.$ga.event({
          eventCategory: 'Home',
          eventAction: 'HeroUpperAdClick',
          eventLabel: 'ImageClick'
        })
      }
    }
  }
</script>

<style lang="sass" scoped>
  .upper-ad-container
    font-size: 0
    position: relative
    height: 100%
    img
      border-radius: 5px
    .text-overlay
      position: absolute
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      .bottom-container
        margin-top: auto
        display: flex
        flex-direction: column
        .link-container
          padding: 9px 5px
          background: rgb(14, 8, 4)
          text-align: center
          border-bottom-left-radius: 5px
          border-bottom-right-radius: 5px
          p
            text-transform: uppercase
            font-size: 1rem
            width: 100%
            font-family: "Roboto", sans-serif
            color: #eeea50
        .award-container
          align-self: flex-start
          display: flex
          flex-direction: row
          align-items: center
          margin: auto 0 10px -6px
          .icon
            z-index: 5
            border-radius: 50%
            background: #9a2ca0
            color: white
            font-size: 2.5rem
            padding: 2rem
          .award-text
            z-index: 4
            font-size: 0.8rem
            background: rgba(154, 44, 160, 0.7)
            border-radius: 8px
            padding: 2px 5px 2px 20px
            color: white
            width: 70%
            margin-left: -16px
</style>
