<template lang="pug">
  section.hero.is-small
    .hero-body.has-text-centered
      .title-bg
        h1.title
          span.typed
          span= " drobės!"
      .remainder
        h2.subtitle
          | nuo
          router-link.price(:to="{ name: 'Pricing' }")  23 €
          |  - Tavo namų/biuro grožiui

        h3= "Tikime, kad gyvenamoji ir darbo erdvė daro įtaką Tavo motyvacijai ir požiūriui į gyvenimą."
        h3= "Mūsų misija - pasiūlyti Tau meno kūrinius, kurie žadina jausmus ir atgaivina protą..."

</template>

<script>
  import Typed from 'typed.js'

  export default {
    name: 'HomeHero',
    mounted () {
      var options = {
        strings: ['Kruopščiai atrinktos'],
        typeSpeed: 60,
        backDelay: 1300,
        loop: false,
        showCursor: false
      }

      var typed = new Typed('.typed', options)
    },
    components: {
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../src/assets/sass/tkg_mixins"
  @import "../../src/assets/sass/tkg_variables"

  .hero
    padding: 0
    margin: 0
    height: 100%
    .hero-body
      border-radius: 5px
      background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.95)), url('../../static/hero/hero2_768_opt.jpg') no-repeat center center
      background-size: cover
      display: flex
      flex-direction: column
      flex-grow: 1
      justify-content: center
      padding: 2rem 1rem
      h1, h2
        color: white
        .price
          color: #eeea50
          font-weight: 600
      h3
        line-height: 1.15
        color: white
        font-family: "Roboto", sans-serif
        &:not(:last-child)
          margin-bottom: 12px
      .title-bg
        background: $sitewide-bg-color
        margin: 0 -1rem 18px -1rem
        h1.title
          padding: 0.25rem
          // background: #8e24aa
          // background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%)
          @include rainbowText(#8e24aa, #ff6e40)
          border-radius: $border-radius-default
          margin: 0
          font-weight: 700
</style>
