<template lang="pug">
  .mockup-picture
    .mockup-overlay-touch
      .icon-container
        span.icon
          i.fa.fa-search-plus
        span.icon-explain padidinti
    img(:src="mockup_url")
    .mockup-overlay
      router-link.button.cta-button(:to="{ name: 'BuyPicture', params: { id: picture.id, slug: picture.slug } }")
        span.icon
          i.fa.fa-shopping-cart
        span Perku!
</template>

<script>
  export default {
    name: 'MockupWidget',
    props: ['picture', 'mockup_filename'],
    data () {
      return {
        static_base_url: process.env.STATIC_BASE_URL
      }
    },
    computed: {
      mockup_url () {
        return this.static_base_url + '/picture/' + this.picture.id + '/mockups/' + this.mockup_filename
      }
    },
    methods: {
      handleTouch () {
        // This handler is left because of Chrome mobile browser strange behaviour (to make touch=hover, otherwise doesn't work)
      }
    }
  }
</script>

<style lang="sass" scoped>
  $border-radius: 5px
  .mockup-picture
    position: relative
    font-size: 0
    margin-bottom: 7px
    transition: opacity .15s ease-in-out
    img
      border-radius: $border-radius
    @media (hover: hover)
      &:hover
        .mockup-overlay
          opacity: 1
          .cta-button
            display: inline-flex
    .mockup-overlay-touch
      display: flex
      justify-content: flex-start
      align-items: flex-end
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      width: 100%
      height: 100%
      .icon-container
        display: flex
        margin-bottom: 10px
        margin-left: 10px
        justify-content: flex-start
        align-items: center
        color: rgba(255, 255, 255, 0.7)
        background: rgba(146, 38, 167, 0.55)
        padding: 5px 5px 5px 7px
        border-radius: $border-radius
        .icon
          i
            font-size: 1.3rem
            // color: rgba(146, 38, 167, 0.9)
            // background: rgba(255, 255, 255, 0.5)
        .icon-explain
          font-size: 0.8rem
          color: white
          margin-left: 5px
    .mockup-overlay
      display: flex
      justify-content: flex-end
      align-items: flex-end
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      width: 100%
      height: 100%
      background-image: linear-gradient(180deg, transparent 0, transparent 40%, rgba(0,0,0,.05) 60%, rgba(0,0,0,.35))
      opacity: 0
      border-radius: $border-radius
      .cta-button
        opacity: 0.9
        margin-right: 5px
        margin-bottom: 5px
        display: none
        &:hover
          box-shadow: none
          opacity: 1
</style>
