<template lang="pug">
  .masonry-brick(:style="{ 'width': thumb_width + 'px' }")
    .collection-picture
      .picture-container
        img(:src="picture_url")
        .picture-overlay
          router-link(:to="{ name: 'ViewPicture', params: { id: picture.id, slug: picture.slug }}")
</template>

<script>
  export default {
    name: 'PictureWidget',
    props: ['picture'],
    data () {
      return {
        static_base_url: process.env.STATIC_BASE_URL
      }
    },
    computed: {
      picture_url () {
        return this.static_base_url + '/picture/' + this.picture.id + '/' + this.picture.id + '_web_568.jpg'
      },
      thumb_width () {
        return Math.floor(this.picture.original_width / (this.picture.original_height / 250))
      }
    }
  }
</script>

<style lang="sass" scoped>
  $border-radius: 5px

  .collection-picture
    position: relative
    display: flex
    width: 100%
    height: 100%
    .picture-container
      display: flex
      position: relative
      img
        font-family: object-fit\:cover
        -o-object-fit: cover
        object-fit: cover
        border-radius: $border-radius
    &:hover .picture-overlay
      opacity: 1
    .picture-overlay
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-image: linear-gradient(180deg,rgba(0,0,0,.2) 0,transparent 40%,transparent 60%,rgba(0,0,0,.3))
      opacity: 0
      transition: all .15s ease-in-out
      border-radius: $border-radius
      a
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
</style>
