<template lang="pug">
  div
    #mockup-modal-wrapper(v-if="mockup_filenames.length > 0 && picture", v-show="mockup_modal_is_opened")
      #mockup-modal-content-container(:style="{'background-image': 'url(' + mockup_modal_current_mockup_url + ')'}")
        #mockup-modal-inner-container
          .left-control.control-buttons(@click="mockupModalPreviousPicture")
            .control-icon-container
              span.icon.is-small
                i.fa.fa-chevron-left
          .right-control.control-buttons(@click="mockupModalNextPicture")
            .control-icon-container
              span.icon.is-small
                i.fa.fa-chevron-right
      #mockup-modal-bottom-container
        a.button.white-transparent-button.is-medium(v-on:click="mockupModalClose()", style="margin-right: 10px")
          span.icon
            i.fa.fa-times
          span uždaryti
        router-link.button.cta-button.is-medium(:to="{ name: 'BuyPicture', params: { id: id, slug: slug } }")
          .abs-container
            span.icon
              i.fa.fa-shopping-cart
            span Perku!

    .view-picture-modal(:class="{'opened': modal_opened}")
      a.button-close-modal(v-on:click="goBack('TopLeft')")
        span.icon
          i.fa.fa-chevron-left
      .top-cta-button-container
        a.button.cta-button.is-medium(@click="clickTopBuyButton")
          .abs-container
            span.icon
              i.fa.fa-shopping-cart
            span Perku!

      #picture-overlay.picture-overlay.has-text-centered(oncontextmenu="return false")
        .img-bg-filler.left(:style="{'background-image': 'url(' + web_small_url + ')'}")
          .overlay
        .image-container
          #touch-to-zoom-explainer(:class="{'hidden': !show_mobile_touch_to_zoom_explainer}", @click="closeMobileExplainer")
            .icon-container
              img(src="/static/icons/finger.png")
            .explain-container
              p= "Norėdami priartinti, paspauskite ir veskite pirštu"
              button.button.is-info= "Supratau"
          .loading-container
            span Palaukite...
          img#main-image.flickr-zoom(:srcset="web_src_set", sizes="100vw", :data-hd-url="web_hd_url", :data-hd-width="web_hd_dimensions[0]", :data-hd-height="web_hd_dimensions[1]", oncontextmenu="return false")
        .img-bg-filler.right(:style="{'background-image': 'url(' + web_small_url + ')'}")
          .overlay
        .go-back-button-container.has-text-centered
          a.button.white-transparent-button(v-on:click="goBack('PictureBottom')")
            span.icon
              i.fa.fa-angle-left
            span grįžti
          button.button.white-transparent-button(v-scroll-to="'h3#canvas-mockups, 58px'", style="margin-left: 5px", @click="clickPictureKaipAtrodysButton")
            span.icon
              i.fa.fa-angle-down
            span kaip atrodys
          a#mobile-click-to-zoom.button.white-transparent-button.is-hidden-desktop(style="margin-left: 5px", @click="mobileClickToZoom")
            span.icon
              i.fa.fa-search-plus

      .wrapper(:class="{'loaded': loaded}")
        .container(style="padding-top: 5rem")
          .columns
            .column.content
              h1.picture-title= "{{ picture ? picture.title : '' }}"
              .photographer-info
                div(v-if="picture && picture.photographer_name")
                  span.icon(style="margin-right: 3px")
                    i.fa.fa-camera-retro
                  span.subtitle= "Autorius: "
                  p.photographer-name(v-if="!picture.photographer_url")= "{{ picture.photographer_name }}"
                  a.photographer-name(v-if="picture.photographer_url", :href="picture.photographer_url", target="_blank", rel="nofollow")
                    span= "{{ picture.photographer_name }}"
                div(v-if="picture")
                  span.icon(style="margin-right: 3px")
                    i.fa.fa-list
                  span.subtitle= "Kolekcijose: "
                  template(v-for="(collection, index) in collections_slice")
                    router-link.photographer-name(:to="{ name: 'ViewCollection', params: { slug: collection.slug } }")
                      span= "{{collection.title}}"
                    span.light-text= "{{ index + 1 == collections_slice.length ? '' : '|' }}"
              .picture-description(v-if="picture && picture.description")
                template(v-for='line in picture_description_lines')
                  | {{line}}
                  br
              social-share-block(v-if="picture")

              canvas-product-usp(v-if="picture", :picture="picture", :product_pricing="product_pricing")

              h3#canvas-mockups= "Kaip atrodys?"
              p.small-explanation= "Pateikiame nuotraukas, kaip ši drobė atrodytų Jūsų kambaryje/biure (proporcijos apytikslės)"
              a.button.is-transparent.is-loading.full-width(v-if="!mockup_filenames.length") Kraunasi...

          .columns.mockups-container(v-if="picture && mockup_filenames.length")
            .column(v-for="mockup_column in mockup_columns")
              template(v-for="mockup_filename in mockup_column")
                div.mockup-widget-container(@click="openMockupModal(mockup_filename)")
                  mockup-widget(:mockup_filename="mockup_filename", :picture="picture", :key="picture.id + '-' + mockup_filename")

          canvas-product-usp(v-if="picture", :picture="picture", :product_pricing="product_pricing")

          .columns
            .column.is-6-tablet.is-offset-3-tablet
              email-optin-widget(v-if="picture")

          .columns(v-if="picture && mockup_filenames.length")
            .column.is-12.has-text-centered
              a.button.is-light.is-medium(v-on:click="goBack()", style="margin-right: 5px")
                span.icon
                  i.fa.fa-angle-left
                span grįžti
              //
                router-link.button.cta-button.is-medium(:to="{ name: 'BuyPicture', params: { id: id, slug: slug } }")
                  span.icon
                    i.fa.fa-shopping-cart
                  span Perku!
          author-widget(v-if="picture && picture.author", :author="picture.author")
          .columns
            .column.content
              h3= "Kitos nuotraukos"
              a.button.is-transparent.is-loading.full-width(v-if="!related_pictures.length") Kraunasi...

              .masonry(v-if="picture && related_pictures.length", style="margin-bottom: 20px", @click="clickOnOtherPictures")
                picture-widget(:picture="picture", :key="picture.id", v-for="picture in related_pictures")

          .columns(v-if="picture && related_pictures.length")
            .column.is-12.has-text-centered
              a.button.is-light.is-medium(v-on:click="goBack()", style="margin-right: 5px")
                span.icon
                  i.fa.fa-angle-left
                span grįžti

          .columns
            .column.content
              h3= "Kitos kolekcijos"
              div(@click="clickOnOtherCollections")
                related-collections(v-if="picture")

          .columns(v-if="picture && related_pictures.length")
            .column.is-12.has-text-centered
              a.button.is-light.is-medium(v-on:click="goBack()", style="margin-right: 5px")
                span.icon
                  i.fa.fa-angle-left
                span grįžti
</template>

<script>
  import axios from 'axios'
  import MockupWidget from './MockupWidget.vue'
  import PictureWidget from './PictureWidget.vue'
  import MobileDetect from 'mobile-detect'
  import screenfull from 'screenfull'
  import CanvasProductUsp from './parts/CanvasProductUsp.vue'
  import RelatedCollections from './parts/RelatedCollections.vue'
  import AuthorWidget from './parts/AuthorWidget.vue'
  import SocialShareBlock from './parts/SocialShareBlock.vue'
  import debounce from 'lodash.debounce'
  import EmailOptinWidget from './parts/EmailOptinWidget.vue'

  var zoomState = null

  function setCookie (cname, cvalue, exdays) {
    var d = new Date()
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000))
    var expires = 'expires=' + d.toUTCString()
    document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/'
  }

  function getCookie (cname) {
    var name = cname + '='
    var ca = document.cookie.split(';')
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i]
      while (c.charAt(0) === ' ') {
        c = c.substring(1)
      }
      if (c.indexOf(name) === 0) {
        return c.substring(name.length, c.length)
      }
    }
    return ''
  }

  function checkCookie (name) {
    return getCookie(name) !== ''
  }

  function eventFire (el, etype) {
    if (el.fireEvent) {
      el.fireEvent('on' + etype)
    } else {
      var evObj = document.createEvent('Events')
      evObj.initEvent(etype, true, false)
      el.dispatchEvent(evObj)
    }
  }

  function toggleFullScreen () {
    var doc = window.document
    var docEl = doc.documentElement

    var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen
    var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen

    if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
      requestFullScreen.call(docEl)
    } else {
      cancelFullScreen.call(doc)
    }
  }

  function initialZoomState () {
    var screen = document.createElement('div')
    screen.classList.add('flickr-zoom-screen')
    return {
      screen: screen,
      zoomed: null,
      pan: null
    }
  }

  function noscroll () {
    window.scrollTo(0, 0)
  }

  var movePopupZoomPointer = function (clientX, scaleX, clientY, scaleY) {
    if (!zoomState.zoomed) {
      return
    }
    zoomState.zoomed.style.left = clientX * scaleX + 'px'
    zoomState.zoomed.style.top = clientY * scaleY + 'px'
  }

  var movePopupZoomPointerTouch = debounce(movePopupZoomPointer, 50, { 'maxWait': 100 })

  function popupOpener (clickEvent) {
    var target = clickEvent.target
    // setTimeout(function () {
    // TODO: try to separate the code below and execute it with a timeout (to test if it's related to the delay in pic loading)
    // Viewport dimensions may change between clicks, so fetch them each time.
    var screenW = document.documentElement.clientWidth
    var screenH = document.documentElement.clientHeight
    if (!zoomState.zoomed) {
      // Clone the image so the page layout doesn't change when we zoom.
      // We nullify any element id to prevent duplicates.
      zoomState.zoomed = target.cloneNode(false)
      zoomState.zoomed.removeAttribute('id')
      zoomState.zoomed.classList.add('zoomed')
      document.body.appendChild(zoomState.zoomed)
      document.body.appendChild(zoomState.screen)

      var naturalW = target.getAttribute('data-hd-width')
      // var naturalW = zoomState.zoomed.naturalWidth
      var naturalH = target.getAttribute('data-hd-height')
      // var naturalH = zoomState.zoomed.naturalHeight

      zoomState.zoomed.setAttribute('width', naturalW)
      zoomState.zoomed.setAttribute('height', naturalH)

      // Convert current mouse position within viewport to coordinates within
      // the zoomed image (includes padding).  This essentially calculates how
      // many pixels of zoomed image to move for each viewport pixel moved.
      var zoomW = zoomState.zoomed.offsetWidth
      var zoomH = zoomState.zoomed.offsetHeight
      var scaleX = -1 / screenW * (zoomW - screenW)
      var scaleY = -1 / screenH * (zoomH - screenH)

      var called = 0
      zoomState.pan = function (mouseEvent) {
        // On the first pan we want to snap the image into place, but on
        // subsequent pans we want to transition the pan smoothly.  We
        // only need to add the class once, on the second call.
        if (++called === 2) {
          zoomState.zoomed.classList.add('smooth-panning')
        }
        // in case of programmatically simulated click:
        let clientX = typeof mouseEvent.clientX === 'undefined' ? 50 : mouseEvent.clientX
        let clientY = typeof mouseEvent.clientY === 'undefined' ? 50 : mouseEvent.clientY
        movePopupZoomPointer(clientX, scaleX, clientY, scaleY)
      }

      // Pan to match initial click position
      zoomState.pan(clickEvent)
      /* console.log(zoomW)
      console.log(zoomH)
      console.log(zoomState.pan) */

      zoomState.touchmove = function (touchEvent) {
        var clientX = touchEvent.touches[0].clientX
        // var clientX = Math.ceil(touchEvent.touches[0].clientX / 3) * 3
        var clientY = touchEvent.touches[0].clientY
        // var clientY = Math.ceil(touchEvent.touches[0].clientY / 3) * 3
        if (++called === 2) {
          zoomState.zoomed.classList.add('smooth-panning')
        }
        movePopupZoomPointerTouch(clientX, scaleX, clientY, scaleY)
      }

      // …and then on any subsequent mouse movement, unless we're smaller
      // than the viewport.
      if (naturalW > screenW || naturalH > screenH) {
        window.addEventListener('mousemove', zoomState.pan, false)
        window.addEventListener('touchmove', zoomState.touchmove, false)
        window.addEventListener('scroll', noscroll)
      }
    } else {
      // Remove listener and remove cloned image, reseting our state
      window.removeEventListener('mousemove', zoomState.pan, false)
      window.removeEventListener('touchmove', zoomState.touchmove, false)
      window.removeEventListener('scroll', noscroll)
      zoomState.zoomed.parentNode.removeChild(zoomState.zoomed)
      zoomState.screen.parentNode.removeChild(zoomState.screen)
      zoomState = initialZoomState()
    }
  }

  function handleClick (clickEvent) {
    // Ignore clicks not on img.flickr-zoom elements
    var target = clickEvent.target
    if (target.getAttribute('data-hd-width') < 1) return // picture not loaded yet
    if (target.nodeName.toLowerCase() !== 'img') return
    if (!target.classList.contains('flickr-zoom')) return

    clickEvent.preventDefault()

    target.removeAttribute('srcset')
    target.setAttribute('src', target.getAttribute('data-hd-url'))
    document.getElementById('main-image').classList.toggle('hidden')
    // toggleFullScreen()
    if (screenfull.enabled) {
      screenfull.toggle()
    }
    if (target.complete) {
      popupOpener(clickEvent)
    } else {
      var loadHandler = function () {
        popupOpener(clickEvent)
        target.removeEventListener('load', loadHandler)
      }
      target.addEventListener('load', loadHandler)
    }
  }

  export default {
    name: 'ViewPicture',
    props: ['id', 'slug'],
    data () {
      return {
        picture: null,
        related_pictures: [],
        mockup_filenames: [],
        product_pricing: null,
        loaded: false,
        modal_opened: false,
        window_width: typeof window !== 'undefined' ? window.innerWidth : 0,
        show_mobile_touch_to_zoom_explainer: false,
        mockup_modal_current_index: 0,
        static_base_url: process.env.STATIC_BASE_URL,
        mockup_modal_is_opened: false
      }
    },
    asyncData ({ store, route }) {
      return store.dispatch('fetchMetaInfo', route)
    },
    mounted () {
      // TODO: reset false/true variables, on route watch too
      this.fetchMainData()
      setTimeout(() => {
        if (typeof window !== 'undefined' && window.pageYOffset <= 100) {
          window.scrollTo(0, 0) // Fix for mobile chrome (doesn't show full picture because of disappearing url bar)
        }
      }, 1000)
      setTimeout(() => {
        this.modal_opened = true
      }, 1000)
      window.addEventListener('resize', this.handleResize)
      zoomState = initialZoomState()
      window.removeEventListener('click', handleClick, false)
      window.addEventListener('click', handleClick, false)
      //
      let md = new MobileDetect(window.navigator.userAgent)
      if (md.mobile() && !checkCookie('show_mobile_touch_to_zoom_explainer')) {
        this.show_mobile_touch_to_zoom_explainer = true
        setCookie('show_mobile_touch_to_zoom_explainer', 1, 90)
      }
    },
    beforeDestroy () {
      this.$store.commit('closeViewPictureModal')
      this.$store.commit('resetMetaInfo')
    },
    destroyed () {
      setTimeout(() => {
        this.modal_opened = false
      }, 100)
      window.removeEventListener('resize', this.handleResize)
    },
    watch: {
      '$route': 'fetchMainData'
    },
    computed: {
      picture_description_lines () {
        if (!(this.picture && this.picture.description)) {
          return []
        }
        return this.picture.description.split('\n')
      },
      mockup_modal_current_mockup_url () {
        return this.static_base_url + '/picture/' + this.picture.id + '/mockups/' + this.mockup_filenames[this.mockup_modal_current_index]
      },
      collections_slice () {
        if (!this.picture) {
          return []
        }
        return this.picture.collections.slice(0, 5)
      },
      metaTitle () {
        return this.picture ? this.picture.title : 'Nuotrauka'
      },
      web_hd_url () {
        return process.env.STATIC_BASE_URL + '/picture/' + this.id + '/' + this.id + '_web_hd.jpg'
      },
      web_hd_dimensions () {
        if (!this.picture) {
          return [0, 0]
        }
        let ratio = this.picture.original_width / 1920
        let width = 1920
        let height = Math.floor(this.picture.original_height / ratio)
        return [width, height]
      },
      web_small_url () {
        return process.env.STATIC_BASE_URL + '/picture/' + this.id + '/' + this.id + '_web_568.jpg'
      },
      web_src_set () {
        let startOfSource = process.env.STATIC_BASE_URL + '/picture/' + this.id + '/' + this.id
        return startOfSource + '_web_568.jpg 568w, ' + startOfSource + '_web_768.jpg 768w, ' + startOfSource + '_web_1366.jpg 1366w, ' + startOfSource + '_web_hd.jpg 1920w'
      },
      column_count () {
        if (this.window_width >= 1024) {
          return 3
        // } else if (this.window_width <= 768) {
        //   return 1
        } else {
          return 2
        }
      },
      mockup_columns () {
        let mockupCount = this.mockup_filenames.length
        let mockupsPerColumn = Math.ceil(mockupCount / this.column_count)
        let columns = []
        let i
        for (i = 0; i < mockupCount; i = i + mockupsPerColumn) {
          columns.push(this.mockup_filenames.slice(i, i + mockupsPerColumn))
        }
        return columns
      }
    },
    methods: {
      mobileClickToZoom () {
        eventFire(document.getElementById('main-image'), 'click')
      },
      clickOnOtherCollections () {
        this.$ga.event({
          eventCategory: 'ViewPicture',
          eventAction: 'OtherCollectionsClick',
          eventLabel: 'ThumbnailClick'
        })
      },
      clickOnOtherPictures () {
        this.$ga.event({
          eventCategory: 'ViewPicture',
          eventAction: 'OtherPicturesClick',
          eventLabel: 'ThumbnailClick'
        })
      },
      clickPictureKaipAtrodysButton () {
        this.$ga.event({
          eventCategory: 'ViewPicture',
          eventAction: 'KaipAtrodysButtonClick',
          eventLabel: 'PictureBottom'
        })
      },
      clickTopBuyButton () {
        this.$router.push({ name: 'BuyPicture', params: { id: this.id, slug: this.slug } })
        this.$ga.event({
          eventCategory: 'ViewPicture',
          eventAction: 'BuyButtonClick',
          eventLabel: 'TopRight'
        })
      },
      openMockupModal (mockupFilename) {
        this.mockup_modal_current_index = this.mockup_filenames.indexOf(mockupFilename)
        this.mockup_modal_is_opened = true
        this.$ga.event({
          eventCategory: 'ViewPicture',
          eventAction: 'KaipAtrodysEnlargeClick',
          eventLabel: 'ThumbnailClick'
        })
      },
      mockupModalNextPicture () {
        let nextIndex = this.mockup_modal_current_index + 1
        if (typeof (this.mockup_filenames[nextIndex]) === 'undefined') {
          nextIndex = 0 // start from the beginning again
        }
        this.mockup_modal_current_index = nextIndex
        this.$ga.event({
          eventCategory: 'ViewPicture',
          eventAction: 'KaipAtrodysModalClick',
          eventLabel: 'NextPicture'
        })
      },
      mockupModalPreviousPicture () {
        let previousIndex = this.mockup_modal_current_index - 1
        if (previousIndex < 0) {
          previousIndex = this.mockup_filenames.length - 1 // start from the end again
        }
        this.mockup_modal_current_index = previousIndex
        this.$ga.event({
          eventCategory: 'ViewPicture',
          eventAction: 'KaipAtrodysModalClick',
          eventLabel: 'PreviousPicture'
        })
      },
      mockupModalClose () {
        this.mockup_modal_is_opened = false
      },
      closeMobileExplainer () {
        this.show_mobile_touch_to_zoom_explainer = false
      },
      handleResize () {
        this.window_width = typeof window !== 'undefined' ? window.innerWidth : 0
      },
      goBack (buttonName) {
        if (typeof buttonName !== 'undefined') {
          this.$ga.event({
            eventCategory: 'ViewPicture',
            eventAction: 'BackButtonClick',
            eventLabel: buttonName
          })
        }
        return this.$router.back()
        /* if (typeof document === 'undefined' || typeof document.referrer === 'undefined') {
          this.$router.push({name: 'Home'})
        }
        return document.referrer.indexOf(process.env.BASE_DOMAIN) > -1 ? this.$router.back() : this.$router.push({name: 'Home'}) */
      },
      fetchMainData () {
        this.loaded = false
        axios.get(process.env.API_BASE_URL + '/picture/' + this.id)
          .then(response => {
            this.picture = response.data
            this.loaded = true
            this.fetchAdditionalInfo()
          })
          .catch(e => {
            // this.errors.push(e)
          })
      },
      fetchAdditionalInfo () {
        axios.get(process.env.API_BASE_URL + '/picture/' + this.id + '/additional_info')
          .then(response => {
            this.mockup_filenames = response.data.mockup_filenames
            this.related_pictures = response.data.related_pictures
            this.product_pricing = response.data.product_pricing
          })
          .catch(e => {
            // this.errors.push(e)
          })
      }
    },
    components: {
      'mockup-widget': MockupWidget,
      'picture-widget': PictureWidget,
      'canvas-product-usp': CanvasProductUsp,
      'related-collections': RelatedCollections,
      'author-widget': AuthorWidget,
      'social-share-block': SocialShareBlock,
      'email-optin-widget': EmailOptinWidget
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../src/assets/sass/tkg_variables"

  $modal-bg-color: #f8f5f
  $border-radius: 5px

  .light-text
    color: $light-text-color

  @keyframes colorChange
    0%
      background: #dbdbdb
    50%
      background: #e9e9e9
    100%
      background: #dbdbdb

  .view-picture-modal
    position: absolute
    background: $modal-bg-color
    width: 100%
    &:not(.opened)
      // #z-index: 30
    .button-close-modal
      z-index: 40
      position: absolute
      transition: all .2s ease-in-out
      display: flex
      justify-content: center
      align-items: center
      opacity: .8
      top: 6px
      left: 0
      color: white
      width: 40px
      height: 40px
      &:hover
        opacity: 1
    .top-cta-button-container
      a
        z-index: 40
        position: absolute
        top: 10px
        right: 10px
        width: 40px
        height: 38px
        overflow: hidden
        transition: all .2s ease-in-out
        background: none
        opacity: 0.8
        &:hover
          opacity: 1
          background: -webkit-linear-gradient(41deg, rgb(255, 88, 88), rgb(255, 200, 0))
          background: linear-gradient(41deg, rgb(255, 88, 88), rgb(255, 200, 0))
          width: 110px
        .abs-container
          position: absolute
          left: 14px
    .picture-overlay
      z-index: 30
      line-height: 1
      font-size: 0
      position: relative
      max-height: 100vh
      display: flex
      flex-flow: row nowrap
      align-items: flex-start
      background: #000
      .image-container
        position: relative
        min-height: 200px
        z-index: 10
        .loading-container
          top: 10px
          left: 50%
          margin-left: -60px // centering
          width: 120px
          position: absolute
          z-index: 11
          span
            color: #e6e6e6
            font-size: 1rem
      img
        z-index: 12
        max-height: 100vh
        position: relative
        &.hidden
          display: none
      .img-bg-filler
        flex-grow: 1
        transform: scaleX(-1.07)
        margin-top: -7px
        margin-bottom: 5px
        filter: blur(5px) grayscale(1)
        align-self: normal
        &.left .overlay
          background: linear-gradient(270deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 1)) right center
        &.right .overlay
          background: linear-gradient(90deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 1)) right center
        .overlay
          width: 100%
          height: 100%
      .go-back-button-container
        z-index: 11
        position: absolute
        bottom: 0
        width: 100%
        padding-bottom: 10px
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0))
        padding-top: 27px
        a
          transition: all .2s ease-in-out
          &:hover
            background-color: rgba(0, 0, 0, 0.75)
    .wrapper
      background-color: $modal-bg-color
      &:not(.loaded)
        h1.picture-title
          animation: colorChange .5s infinite
          border-radius: 5px
          padding: 5px
          height: 46px
        .photographer-info
          animation: colorChange .5s infinite
          border-radius: 5px
          padding: 3px 5px
          height: 30px
          width: 35%
      .photographer-info
        margin: 1em 0 0.5em 0
        .icon
          color: $light-text-color
        p, a
          margin: 0
          color: $light-darker-text-color
          font-family: 'Roboto', sans-serif
        .subtitle
          font-size: 1rem
          color: $light-text-color
          font-family: 'Roboto', sans-serif
        a:hover
          text-decoration: underline
      .mockups-container
        margin-top: -30px
        .mockup-widget-container
          cursor: zoom-in
          img
            border-radius: $border-radius

  p.small-explanation
    color: $light-text-color
    font-family: 'Roboto', sans-serif
    font-size: 15px

  /** FLICKR ZOOM STUFF **/
  div.flickr-zoom-screen
    z-index: 10000
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: black
    opacity: 0.5

  img.flickr-zoom
    cursor: zoom-in

  img.flickr-zoom.zoomed
    cursor: zoom-out
    z-index: 10001
    position: fixed
    top: 0
    left: 0
    width: auto
    height: auto
    padding: 100px
    margin: 0
    border: none
    max-width: none

  img.flickr-zoom.zoomed.smooth-panning
    transition: top 0.4s ease-out, left 0.4s ease-out

  #touch-to-zoom-explainer
    background: rgba(0, 0, 0, 0.5)
    width: 100%
    height: 100%
    position: absolute
    z-index: 30
    padding: 15px
    font-size: 1rem
    line-height: 1.3rem
    display: flex
    align-items: center
    justify-content: center
    &.hidden
      display: none
    .icon-container
      max-width: 100px
    .explain-container
      p
        color: white
      button
        margin-top: 13px

  #mockup-modal-wrapper
    background-color: #0c0c0c
    position: fixed
    z-index: 50
    width: 100%
    #mockup-modal-content-container
      background-size: contain
      background-position: center center
      background-repeat: no-repeat
      #mockup-modal-inner-container
        height: 100vh
        .control-buttons
          position: fixed
          height: 100%
          display: flex
          flex-direction: column
          justify-content: center
          &.left-control
            left: 0
            .control-icon-container
              border-top-right-radius: $border-radius-default
              border-bottom-right-radius: $border-radius-default
          &.right-control
            right: 0
            .control-icon-container
              border-top-left-radius: $border-radius-default
              border-bottom-left-radius: $border-radius-default
          .control-icon-container
            // background-color: #c5c5c5
            // background-color: $violet-text-color
            background-color: rgba(255, 255, 255, 0.65)
            width: 35px
            height: 50px
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            &:hover
              background-color: rgba(255, 255, 255, 0.85)
            .icon i
              color: $violet-text-color
    #mockup-modal-bottom-container
      position: fixed
      bottom: 0
      background: rgba(144, 37, 169, 0.5)
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      color: white
      padding: 10px 5px
      z-index: 50

  .picture-description
    font-family: 'Roboto', sans-serif
    margin-bottom: 1rem
</style>
