<template lang="pug">
  div
    // bs-title(:title="metaTitle")
    .container
      .columns(v-if="state.collection")
        .column.content
          h1= "{{ state.collection.title }}"
          a(v-on:click="goBack()", class="button is-dark-lighter")
            span.icon
              i.fa.fa-angle-left
            span grįžti
      author-widget(v-if="state.collection && state.collection.main_author", :author="state.collection.main_author")

      a.button.is-transparent.is-loading.full-width(v-if="!state.collection") Kraunasi...

      no-ssr
        social-share-block(v-if="state.collection")

      .masonry(style="margin-bottom: 20px")
        picture-widget(:picture="picture", :key="picture.id", v-for="picture in state.pictures")

      infinite-loading(@infinite="infiniteHandler", spinner="waveDots", v-if="state.collection")
        span(slot="no-more")= "Peržiūrėjote visas šios kolekcijos nuotraukas! :)"
        span(slot="no-results")= "Peržiūrėjote visas šios kolekcijos nuotraukas! :)"
      .columns
        .column.is-6-tablet.is-offset-3-tablet
          email-optin-widget(v-if="state.collection")
      .content.has-text-centered(v-if="state.collection", style="margin-top: 20px")
        h2= "O kaip šios kolekcijos?"
      div(@click="clickOnOtherCollections")
        related-collections(v-if="state.collection")

      .columns
        .column.is-one-half.content.has-text-centered
          router-link.button.cta-button.is-medium(:to="{ name: 'Home' }")
            span.icon
              i.fa.fa-angle-double-left
            span= "grįžti į kolekcijas"

      .columns
        .column.content
          canvas-product-usp
</template>

<script>
  import PictureWidget from './PictureWidget.vue'
  import axios from 'axios'
  import InfiniteLoading from 'vue-infinite-loading'
  import CollectionWidget from './CollectionWidget.vue'
  import CollectionWidgetPlaceholder from './CollectionWidgetPlaceholder.vue'
  import RelatedCollections from './parts/RelatedCollections.vue'
  import AuthorWidget from './parts/AuthorWidget.vue'
  import SocialShareBlock from './parts/SocialShareBlock.vue'
  import NoSSR from 'vue-no-ssr'
  import EmailOptinWidget from './parts/EmailOptinWidget.vue'
  import CanvasProductUsp from './parts/CanvasProductUsp.vue'

  export default {
    name: 'ViewCollection',
    props: ['slug'],
    data () {
      return {
        load_limit: 9
      }
    },
    asyncData ({ store, route }) {
      return store.dispatch('fetchMetaInfo', route)
    },
    computed: {
      is_view_picture_modal_opened () {
        return this.$store.state.is_view_picture_modal_opened
      },
      state () {
        return this.$store.state.view_collection
      },
      author_description_lines () {
        if (!this.state.collection) {
          return []
        }
        return this.state.collection.main_author.personal_description.split('\n')
      }
    },
    components: {
      'picture-widget': PictureWidget,
      'infinite-loading': InfiniteLoading,
      'collection-widget': CollectionWidget,
      'collection-widget-placeholder': CollectionWidgetPlaceholder,
      'related-collections': RelatedCollections,
      'author-widget': AuthorWidget,
      'social-share-block': SocialShareBlock,
      'no-ssr': NoSSR,
      'email-optin-widget': EmailOptinWidget,
      'canvas-product-usp': CanvasProductUsp
    },
    beforeDestroy () {
      this.$store.commit('resetMetaInfo')
    },
    mounted () {
      if (this.is_view_picture_modal_opened) {
        this.$store.commit('closeViewPictureModal')
        return
      }
      if (this.state.collection) {
        if (this.$route.params.slug === this.state.collection.slug) {
          return // No need to reset, as it's probably about going back from the "ViewPicture" route
        }
      }
      this.reset()
    },
    watch: {
      '$route' (to, from) {
        // routing changes within the same component (for example, when clicking on Related Collections)
        this.reset()
      }
    },
    beforeRouteLeave (to, from, next) {
      if (to.name === 'ViewPicture') {
        this.$store.commit('openViewPictureModal')
      }
      next()
    },
    methods: {
      clickOnOtherCollections () {
        this.$ga.event({
          eventCategory: 'ViewCollection',
          eventAction: 'OtherCollectionsClick',
          eventLabel: 'ThumbnailClick'
        })
      },
      reset () {
        this.$store.commit('resetViewCollectionState')
        this.loadPictures()
      },
      loadPictures (loaderCallback) {
        axios.get(process.env.API_BASE_URL + '/collection/' + this.slug + '/pictures', {
          params: {
            offset: this.state.current_load_offset,
            limit: this.load_limit
          }
        })
          .then(response => {
            if (!this.state.collection) {
              this.state.collection = response.data.collection
            }
            this.$store.commit('viewCollectionAddPictures', response.data.pictures)
            if (loaderCallback) {
              loaderCallback(response.data.pictures.length)
            }
          })
          .catch(e => {
            // this.errors.push(e)
            if (loaderCallback) {
              loaderCallback(e)
            }
          })
        this.$store.commit('incrementViewCollectionCurrentLoadOffset', this.load_limit)
      },
      infiniteHandler ($state) {
        // https://peachscript.github.io/vue-infinite-loading/#!/getting-started/hacker-news
        this.loadPictures(function (loaderResponse) {
          loaderResponse === 0 ? $state.complete() : $state.loaded()
        })
      },
      goBack () {
        return this.$router.back()
        /* if (typeof document === 'undefined' || typeof document.referrer === 'undefined') {
          this.$router.push({name: 'Home'})
        }
        return document.referrer.indexOf(process.env.BASE_DOMAIN) > -1 ? this.$router.back() : this.$router.push({name: 'Home'}) */
      }
    }
  }
</script>
