<template lang="pug">
  .columns.is-multiline.box(v-if="author", style="margin-top: 5px")
    .column.content.is-8
      h3 {{ author.gender == 'm' ? 'Apie autorių' : 'Apie autorę' }}
      template(v-for='line in author_description_lines')
        | {{line}}
        br
      .text-hidden-uncover-container(v-if="author_description_lines_hidden.length", v-show="!is_hidden_text_uncovered")
        br
        a.text-hidden-uncover(@click="uncoverText") Skaityti toliau...
      .text-hidden(v-if="author_description_lines_hidden.length", :class="{'uncovered': is_hidden_text_uncovered}")
        br
        template(v-for='line in author_description_lines_hidden')
          | {{line}}
          br
        br
        a.strong(:href="author.portfolio_url", target="_blank") {{author.first_name}} {{author.last_name}} {{author.nick_name ? '(' + author.nick_name + ')': ''}}
    .column.content.is-4
      img.author-portrait(:src="author_portrait_url")
    // .column.is-12
      social-share-block
  //
</template>

<script>
  import SocialShareBlock from './SocialShareBlock.vue'

  export default {
    name: 'AuthorWidget',
    props: ['author'],
    data () {
      return {
        is_hidden_text_uncovered: false
      }
    },
    methods: {
      uncoverText: function () {
        this.is_hidden_text_uncovered = true
      }
    },
    computed: {
      author_description_lines () {
        if (!this.author) {
          return []
        }
        return this.author.personal_description.split('\n').slice(0, 3)
      },
      author_description_lines_hidden () {
        if (!this.author) {
          return []
        }
        return this.author.personal_description.split('\n').slice(4)
      },
      author_portrait_url () {
        return process.env.APP_BASE_URL + '/' + this.author.portrait_path
      }
    },
    components: {
      'social-share-block': SocialShareBlock
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../../src/assets/sass/tkg_variables"

  img.author-portrait
    border-radius: $border-radius-default

  .strong
    font-weight: 600

  .text-hidden:not(.uncovered)
    display: none
</style>
