<template lang="pug">
  .canvas-product-usp.columns.content
    .column.is-8
      h3 Kodėl TikraiGražu.lt - geriausias pasirinkimas rinkoje:
      ul
        li
          span.icon
            i.fa.fa-check-circle
          span.important= "NATŪRALI "
          | 100% medvilnės drobė
          span.explain= " ("
            router-link(:to="{ name: 'QualityComparisonPage' }") kokybės palyginimas
            | )
        li
          span.icon
            i.fa.fa-check-circle
          span.important= "PIGMENTINIAI "
          | sertifikuoti dažai
          |
          span.explain= " (nekenkia sveikatai)"
        li
          span.icon
            i.fa.fa-check-circle
          span.important= "ARCHYVINIS "
          | lakavimas
          span.explain=" (ilgaamžiškumui)"
        li
          span.icon
            i.fa.fa-check-circle
          span.important= "GARANTIJOS "
          | sertifikatas - 180 dienų
          span.explain= " (grąžiname pinigus arba perspausdiname)"
        li
          span.icon
            i.fa.fa-check-circle
          span.important= "PATIRTIS - "
          | 20 metų
          span.explain= " (atrinkti patikimiausi Lietuvos meistrai)"
        li
          span.icon
            i.fa.fa-check-circle
          span.important= "LIETUVIŠKA "
          strong gamyba
          |
          span.explain= " (atsiėmimas Vilniuje arba pristatymas į namus)"
        li
          span.icon
            i.fa.fa-check-circle
          span.important= "GRĄŽTUI - NE! "
          span.explain= " (siūlome drobių "
            router-link(:to="{ name: 'HangingInstructionsPage' }") laikiklius
            | )


      div.usp-cta-container
        router-link.button.cta-button.no-box-shadow.is-medium(v-if="picture", :to="{ name: 'BuyPicture', params: { id: picture.id, slug: picture.slug } }")
          span.icon
            i.fa.fa-shopping-cart
          span Perku!
        .product-pricing(v-if="product_pricing")
          span.price(v-if="product_pricing.min_price != product_pricing.max_price") {{product_pricing.min_price}} — {{product_pricing.max_price}} €
          span.price(v-if="product_pricing.min_price == product_pricing.max_price") {{product_pricing.min_price}} €
          a(@click="clickExplainPricing")
            span.icon
              i.fa.fa-question-circle

    .column.is-4.is-hidden-mobile
      img(src="/static/images/couple-768-80-3.jpg")
</template>

<script>
  export default {
    name: 'CanvasProductUsp',
    props: ['picture', 'product_pricing'],
    methods: {
      clickExplainPricing () {
        this.$ga.event({
          eventCategory: 'CanvasProductUsp',
          eventAction: 'ExplainPricingClick',
          eventLabel: 'QuestionMarkIcon'
        })
        this.$router.push({ name: 'Pricing' })
      }
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../../src/assets/sass/tkg_variables"

  .canvas-product-usp
    background: white
    margin-top: 10px
    border-radius: 5px
    box-shadow: 0 2px 6px 0 rgba(255, 110, 64, 0.4)
    img
      border-radius: 5px
    span.explain
      // font-size: 0.8rem
      font-weight: 400
      color: $light-text-color
    span.important
      color: $semi-violet-text-color
    ul
      margin-left: 0
      li
        list-style-type: none
        color: $light-darker-text-color
        font-weight: 700
        span.icon i
          color: $violet-text-color
    .usp-cta-container
      display: flex
      align-items: center
      .product-pricing
        margin-left: 10px
        color: $light-darker-text-color
        font-weight: 600
</style>
