<template lang="pug">
  .email-optin-widget.content
    .columns.is-multiline
      .column.is-12
        h4.title.has-text-centered NAUJAUSI MENININKŲ DARBAI
        h6.subtitle.has-text-centered
          = "Užsiprenumeruok naujienas ir "
          strong laimėk
          = " nemokamą drobę kas mėnesį!"
      .column.is-10-desktop.content.is-offset-1-desktop
        p.control
          input.input(tabindex="1", type='text', placeholder='Vardas', v-model.trim="first_name")
        p.control
          input.input(tabindex="2", type='email', placeholder='El. paštas', v-model.trim="email")
        a.button.cta-button.is-medium(@click="submitEmailOptin", :class="{ 'is-loading': is_submit_initiated }")
          span.icon
            i.fa.fa-angle-double-right
          span.cta-text= "prenumeruoti"
        p.error.has-text-centered(v-if="is_error") Klaida! Pabandykite dar kartą.
        p.success.has-text-centered(v-if="is_success") Ačiū! Pasitikrinkite el. paštą ir patvirtinkite registraciją.
        p.privacy-note.has-text-centered
          span.icon
            i.fa.fa-lock
          | Jūsų duomenys saugūs, niekam jų neperduosime.
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'EmailOptinWidget',
    data () {
      return {
        first_name: '',
        email: '',
        source: 'email_optin_widget',
        is_submit_initiated: false,
        is_error: false,
        is_success: false
      }
    },
    methods: {
      submitEmailOptin () {
        this.is_submit_initiated = true
        this.is_error = false
        this.is_success = false
        axios.post(process.env.API_BASE_URL + '/user/email_optin', {
          first_name: this.first_name,
          email: this.email,
          source: this.source
        })
          .then(response => {
            this.is_submit_initiated = false
            if (response.data.status === 'ok') {
              this.resetForm()
              this.is_success = true
              this.$ga.event({
                eventCategory: 'EmailOptinWidget',
                eventAction: 'EmailOptinSubmit',
                eventLabel: 'General'
              })
            } else {
              this.is_error = true
            }
          })
          .catch(e => {
            // this.errors.push(e)
            this.is_submit_initiated = false
            this.is_error = true
          })
      },
      resetForm () {
        this.first_name = ''
        this.email = ''
      }
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../../src/assets/sass/tkg_variables"

  .email-optin-widget
    padding: inherit
    background: $light-darker-text-color
    border-radius: $border-radius-default
    .title
      color: #ffdd57
      font-weight: 600
      margin-bottom: 3rem
    .subtitle
      font-size: 0.9rem
      color: white
      strong
        color: white
    .cta-button
      width: 100%
    .error
      color: $danger-color
      margin-top: 0.5rem
    .success
      color: $success-color
      margin-top: 0.5rem
    .privacy-note
      font-size: 0.7rem
      letter-spacing: -0.5px
      color: $light-text-color
      margin-top: 0.7rem
    .cta-button .cta-text
      font-size: 0.9rem
</style>
