<template lang="pug">
  .tkg-col-container
    .tkg-column(v-for='n in load_related_collections_limit', v-if="!related_collections.length")
      collection-widget-placeholder
    .tkg-column(v-for='collection in related_collections', v-if="related_collections && related_collections.length")
      collection-widget(:collection="collection")
</template>

<script>
  import axios from 'axios'
  import CollectionWidget from './../CollectionWidget.vue'
  import CollectionWidgetPlaceholder from './../CollectionWidgetPlaceholder.vue'

  export default {
    name: 'RelatedCollections',
    data () {
      return {
        related_collections: [],
        load_related_collections_limit: 9
      }
    },
    components: {
      'collection-widget': CollectionWidget,
      'collection-widget-placeholder': CollectionWidgetPlaceholder
    },
    mounted () {
      if (this.related_collections.length < 1) {
        this.loadRelatedCollections()
      }
    },
    beforeDestroy () {
      this.related_collections = []
    },
    methods: {
      loadRelatedCollections () {
        axios.get(process.env.API_BASE_URL + '/collection/related_collections', {
          params: {
            limit: this.load_related_collections_limit
          }
        })
          .then(response => {
            this.related_collections = response.data
          })
          .catch(e => {
            // this.errors.push(e)
          })
      }
    }
  }
</script>
