<template lang="pug">
  social-sharing(:url="share_url", inline-template='')
    .share-buttons-container
      .share-button.facebook
        network(network='facebook')
          i.fa.fa-fw.fa-facebook
          |  Dalintis Facebook'e
      .share-button.linkedin
        network(network='linkedin')
          i.fa.fa-fw.fa-linkedin
          |  Dalintis LinkedIn'e
</template>

<script>
  export default {
    name: 'SocialShareBlock',
    computed: {
      share_url () {
        return 'https://www.' + process.env.BASE_DOMAIN + this.$route.fullPath
      }
    }
  }
</script>

<style lang="sass" scoped="">

</style>
