<template lang="pug">
  #app
    nav#top-navbar-container.navbar.gradient-45deg-purple-deep-orange.gradient-shadow.is-fixed-top
      .navbar-brand
        router-link#logo-link.navbar-item(:to="{ name: 'Home'}")
          img(src='/static/logo/logo1-small.png', alt='TikraiGražu.lt', width='132', height='28')
        .navbar-burger.burger(data-target='tkg-navbar', :class="{'is-active': navbarOpened}", @click="toggleNavbar")
          span
          span
          span
      #tkg-navbar.navbar-menu(:class="{'is-active': navbarOpened}")
        .navbar-start(@click="closeNavbar")
          router-link.navbar-item(:to="{ name: 'Home'}")
            | Pradžia
          router-link.navbar-item(:to="{ name: 'QualityComparisonPage'}")
            | Kokybė
          router-link.navbar-item(:to="{ name: 'AboutUsPage'}")
            | Apie
          router-link.navbar-item(:to="{ name: 'Pricing'}")
            | Kainos
          // router-link.navbar-item(:to="{ name: 'LaimekDrobePage'}")
            | LAIMĖK DROBĘ

        .navbar-end
          .navbar-item
            .field.is-grouped
              p.control
                a.button.contact-us(:href='"tel:" + business_phone')
                  span.icon
                    i.fa.fa-phone
                  span {{business_phone}}
              p.control
                a.button.contact-us(:href='"mailto:" + business_email')
                  span.icon
                    i.fa.fa-envelope-o
                  span susisiekti
    transition(:name="transitionName")
      router-view
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      transitionName: '',
      navbarOpened: false
    }
  },
  metaInfo () {
    return {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: this.$store.state.meta_info.title ? this.$store.state.meta_info.title : 'Kruopščiai atrinktos drobės Jūsų namų ir biuro grožiui',
      // all titles will be injected into this template
      titleTemplate: '%s - TikraiGražu.lt',
      meta: [
        {
          name: 'description',
          content: this.$store.state.meta_info.description ? this.$store.state.meta_info.description : 'Kruopščiai atrinktos drobės Jūsų namų ir biuro grožiui'
        },
        {
          name: 'og:description',
          content: this.$store.state.meta_info['og:description'] ? this.$store.state.meta_info['og:description'] : 'Kruopščiai atrinktos drobės Jūsų namų ir biuro grožiui'
        },
        { name: 'og:url', content: 'https://www.' + process.env.BASE_DOMAIN + this.$route.fullPath },
        { name: 'og:type', content: this.$store.state.meta_info['og:type'] ? this.$store.state.meta_info['og:type'] : 'business.business' },
        { name: 'og:image', content: this.$store.state.meta_info['og:image'] ? this.$store.state.meta_info['og:image'] : 'https://www.' + process.env.BASE_DOMAIN + '/static/hero/hero2_768_opt.jpg' }
      ]
    }
  },
  created () {
    this.navbarOpened = false
  },
  computed: {
    business_email () {
      return process.env.BUSINESS_EMAIL
    },
    business_phone () {
      return process.env.BUSINESS_PHONE_NUMBER
    }
  },
  methods: {
    toggleNavbar () {
      this.navbarOpened = !this.navbarOpened
    },
    closeNavbar () {
      this.navbarOpened = false
    }
  },
  watch: {
    '$route' (to, from) {
      this.transitionName = to.name === 'ViewPicture' && from.name === 'ViewCollection' ? 'slide-up' : ''
    }
  }
}
</script>

<style lang="scss">
  $menu-item-hover-background-color: #e5e5e5;
  @import './assets/sass/main.scss';
</style>

<style lang="sass">
  @import './assets/sass/main.sass'
  @import './assets/sass/tkg_variables.sass'
  @import './assets/sass/tkg_mixins.sass'

  body
    font-family: 'Open Sans', sans-serif

  #logo-link:hover
    background-color: transparent

  #tkg-navbar
    background: transparent
    .navbar-start .navbar-item:hover
      background: rgba(0, 0, 0, 0.15)
      color: white

  .navbar-burger span
    color: white

  .navbar-item, .navbar-link
    color: #e6e6e6 !important
    font-weight: 600
    transition: all .15s ease-in-out
    &:hover
      color: white !important

  .button.contact-us, .button.contact-us:focus, .button.contact-us:visited
    background: rgba(255, 255, 255, 0.3)
    border: none
    color: white
    font-weight: 400
    transition: all 200ms ease
    box-shadow: none !important
    &:hover
      background: rgba(255, 255, 255, 0.43)
      color: white
</style>
