@import 'tkg_variables'
@import 'tkg_mixins'

@mixin flex
  display: -webkit-box
  display: flex

@mixin vertical
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  flex-direction: column


.collection-widget-container
  .inner-container
    position: relative
    padding-bottom: 90%
    .collection-card
      @include flex
      @include vertical
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      min-width: 235px
      max-width: 750px
      a
        @include flex
        @include vertical
        text-decoration: none
        color: #999
        transition: color .2s ease-in-out, opacity .2s ease-in-out
        text-decoration-skip: ink
        -webkit-box-flex: 1
        flex-grow: 1
        &:hover .thumbs-container
          opacity: .85
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 12px -2px rgba(0, 0, 0, 0.2)
        .thumbs-container
          @include flex
          border-radius: 6px
          // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
          -webkit-perspective: 1px
          perspective: 1px
          overflow: hidden
          -webkit-box-flex: 1
          flex-grow: 1
          margin-bottom: 16px
          transition: box-shadow .15s ease-in-out
          position: relative
          img
            position: absolute
            width: 100%
            height: 100%
            left: 0
            font-family: object-fit\:cover
            -o-object-fit: cover
            object-fit: cover
            vertical-align: middle
          .left-cnt
            @include flex
            background: #f8f5f5
            width: 65%
            position: relative
          .right-cnt
            @include flex
            @include vertical
            width: 35%
            margin-left: 2px
            background: #f8f5f5
            div
              position: relative
              -webkit-box-flex: 1
              flex-grow: 1
              &:first-child
                margin-bottom: 2px

  .collection-name
    font-family: 'Roboto', sans-serif
    font-weight: 600
    color: #2f2f2f
    font-size: .95rem
    letter-spacing: -0.3px
    .picture-count
      font-weight: 400
      text-transform: none
      font-size: .9rem
      color: $light-text-color
      letter-spacing: -0.25px

.rounded
  border-radius: $border-radius-default

.share-buttons-container
  display: flex
  align-items: center
  flex-wrap: wrap
  .share-button
    border-radius: $border-radius-default
    cursor: pointer
    padding: 7px 5px 7px 3px
    font-size: 0.9rem
    color: white
    margin: 0 5px 7px 0
    @include textUnselectable
    @media (max-width: 768px)
      flex-grow: 1
      width: 100%
    flex-shrink: 0
    &.facebook
      background-color: #3b5998
      &:hover
        background-color: lighten(#3b5998, 10%)
    &.linkedin
      background-color: #4875B4
      &:hover
        background-color: lighten(#4875B4, 10%)
