$input-disabled-background-color: #e6e6e6;
$input-focus-color: #6e6e6e;
$input-icon-active-color: #9e9e9e;
@import '~bulma/bulma';

$steps-active-color: #8e24aa;
$steps-completed-color: #8e24aa;
@import '~bulma-steps-component/bulma-steps';

$divider-color: #e8e8e8;
$divider-background-color: #e8e8e8;
@import "~bulma-divider/divider";


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');

$tkg-col-margin: 12px;

.slide-up-enter-active{
  animation: slideUp 0.6s;
}
.slide-up-leave-active {
  animation: fadeOut 0.25s;
}
@keyframes slideUp {
  0% {
    transform: translate3d(0, 500px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

html, body {
  background-color: #f8f5f5
}

.navbar {
  margin-bottom: 30px
}

.content {
  h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
  }
}

.collection-picture {
  margin-top: $column-gap;
  margin-bottom: $column-gap;
}

.container {
  padding-top: calc(#{$navbar-height} + 1.5rem)
}

.gradient-45deg-purple-deep-orange {
  background: #8e24aa;
  background: -webkit-linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
  background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
  &.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
  }
}

.cta-button {
  color: white;
  border: none;
  background: -webkit-linear-gradient(41deg, rgb(255, 88, 88), rgb(255, 200, 0));
  background: linear-gradient(41deg, rgb(255, 88, 88), rgb(255, 200, 0));
  transition: box-shadow .15s ease-in-out;
  user-select: none;
  &:not(.no-box-shadow):hover, &:not(.no-box-shadow):focus {
    color: white !important;
    outline: none;
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
  },
  &:visited, &:active {
    color: white !important;
  }
}


.white-transparent-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  transition: all .15s ease-in-out;
  opacity: 0.85;
  &:focus, &:active {
    background: transparent;
    border: 1px solid white;
    color: white;
  }
  &:hover {
    border-color: white;
    color: white;
    box-shadow: 0 -2px 30px 0 rgba(255, 255, 255, 0.4);
    opacity: 1;
  }
}

.tkg-col-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$tkg-col-margin;
  margin-right: -$tkg-col-margin;
  .tkg-column {
    @media (min-width: 992px) {
      flex-basis: calc(100% / 3 - #{$tkg-col-margin} * 2);
    }
    @media (max-width: 991px) and (min-width: 568px) {
      flex-basis: calc(50% - #{$tkg-col-margin} * 2);
    }
    margin: $tkg-col-margin;
    flex-basis: 100%;
    padding-bottom: 24px;
  }
}

.masonry {
  display: flex;
  flex-flow: row wrap;
  margin-left: -4px; /* Adjustment for the gutter */
  margin-right: -4px;
  .masonry-brick {
    flex: auto;
    @media (max-width: 569px) {
      max-height: 330px;
    }
    @media (min-width: 570px) {
      height: 250px;
    }
    min-width: 150px;
    margin: 0 4px 8px 4px; /* Some gutter */
  }
  /*.masonry-brick {
  &:nth-child(4n+1){
    width: 250px;
  }
  &:nth-child(4n+2){
    width: 325px;
  }
  &:nth-child(4n+3){
    width: 180px;
  }
  &:nth-child(4n+4){
    width: 380px;
  }
}*/
}

.button.is-dark-lighter {
  background-color: #4a4a4a;
  border-color: transparent;
  color: whitesmoke;
  &:hover {
    background-color: #595959;
    border-color: transparent;
    color: whitesmoke;
  }
  &:focus {
    box-shadow: none;
  }
}

.button.is-light-bit-darker {
  background-color: #e6e6e6;
  border-color: transparent;
  color: #363636;
  &:hover {
    background-color: #dcdcdc;
    border-color: transparent;
    color: #363636;
  }
}

.button.is-transparent {
  background-color: transparent;
  border-color: transparent;
}

.full-width {
  width: 100%;
}

.container {
  @include mobile {
    margin-left: 12px;
    margin-right: 12px;
    max-width: none;
    width: auto;
  }
  @include tablet-only {
    margin-left: 24px;
    margin-right: 24px;
    max-width: none;
    width: auto;
  }
}

.column.is-offset-3-tablet-only {
  @include tablet-only {
    margin-left: 25%;
  }
}
