@mixin dottedBackground($bg-color: #fff, $dot-color: #e8e8e8, $dot-size: 2px, $dot-space: 10px)
  background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center, linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color
  background-size: $dot-space $dot-space

@mixin textUnselectable
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

@mixin rainbowText($first-color, $second-color)
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, $first-color), color-stop(1, $second-color) )
  background-image: gradient( linear, left top, right top, color-stop(0, $first-color), color-stop(1, $second-color) )
  color: transparent
  -webkit-background-clip: text
  background-clip: text
